# WEB SCRAPING ASSIGNMENT-4

Question-1: Wikipedia.

In [1]:
# Importing libraries.
import selenium
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
import time
import pandas as pd

In [5]:
# Driver
driver = webdriver.Chrome(r"C:\Users\HOMA\Downloads\chromedriver_win32\chromedriver.exe")

In [6]:
# Website url.
url='https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos'

In [7]:
# Opening website url
driver.get(url)

In [8]:
# Creating Empty sets.
Rank=[]
Title=[]
Artist=[]
View=[]
Date=[]

In [9]:
# Scraping the data.
rank=driver.find_elements_by_xpath('//table[@class="wikitable sortable jquery-tablesorter"][1]/tbody/tr/td[1]')
title=driver.find_elements_by_xpath('//table[@class="wikitable sortable jquery-tablesorter"][1]/tbody/tr/td[2]')
artist=driver.find_elements_by_xpath('//table[@class="wikitable sortable jquery-tablesorter"][1]/tbody/tr/td[3]')
view=driver.find_elements_by_xpath('//table[@class="wikitable sortable jquery-tablesorter"][1]/tbody/tr/td[4]')
date=driver.find_elements_by_xpath('//table[@class="wikitable sortable jquery-tablesorter"][1]/tbody/tr/td[5]')

In [10]:
#iterate over the elements to get the required data
for i in [rank,title,artist,view,date]:
    for j in i:
        if i == rank:
            Rank.append(j.text)
        if i == title:
            Title.append(j.text)
        if i== artist:
            Artist.append(j.text)
        if i == view:
            View.append(j.text)
        if i == date:
            Date.append(j.text)

In [11]:
# Creating DataFrame.
youtube_Wiki=pd.DataFrame({})
youtube_Wiki['Rank']=Rank
youtube_Wiki['Title']=Title
youtube_Wiki['Artist']=Artist
youtube_Wiki['Views']=View
youtube_Wiki['Date']=Date

In [12]:
# Final DataFrame.
youtube_Wiki

,Rank,Title,Artist,Views,Date
0,1.,"""Baby Shark Dance""[28]",Pinkfong Kids' Songs & Stories,7.91,"June 17, 2016"
1,2.,"""Despacito""[30]",Luis Fonsi featuring Daddy Yankee,7.20,"January 12, 2017"
2,3.,"""Shape of You""[31]",Ed Sheeran,5.18,"January 30, 2017"
3,4.,"""See You Again""[32]",Wiz Khalifa featuring Charlie Puth,4.96,"April 6, 2015"
4,5.,"""Johny Johny Yes Papa""[35]",LooLoo Kids,4.77,"October 8, 2016"
5,6.,"""Masha and the Bear – Recipe for Disaster""[36]",Get Movies,4.41,"January 31, 2012"
6,7.,"""Uptown Funk""[37]",Mark Ronson featuring Bruno Mars,4.09,"November 19, 2014"
7,8.,"""Gangnam Style""[38]",Psy,3.97,"July 15, 2012"
8,9.,"""Learning Colors – Colorful Eggs on a Farm""[40]",Miroshka TV,3.69,"February 27, 2018"
9,10.,"""Bath Song""[41]",Cocomelon – Nursery Rhymes,3.64,"May 2, 2018"
10,11.,"""Phonics Song with Two Words""[42]",ChuChu TV,3.53,"March 6, 2014"
11,12.,"""Sorry""[43]",Justin Bieber,3.40,"October 22, 2015"
12,13.,"""Sugar""[44]",Maroon 5,3.39,"January 14, 2015"
13,14.,"""Roar""[45]",Katy Perry,3.27,"September 5, 2013"
14,15.,"""Counting Stars""[46]",OneRepublic,3.19,"May 31, 2013"
15,16.,"""Thinking Out Loud""[47]",Ed Sheeran,3.18,"October 7, 2014"
16,17.,"""Dame Tu Cosita""[48]",El Chombo featuring Cutty Ranks,3.11,"April 5, 2018"
17,18.,"""Shake It Off""[49]",Taylor Swift,3.02,"August 18, 2014"
18,19.,"""Faded""[50]",Alan Walker,2.98,"December 3, 2015"
19,20.,"""Lean On""[51]",Major Lazer and DJ Snake featuring MØ,2.97,"March 22, 2015"
20,21.,"""Bailando""[52]",Enrique Iglesias featuring Descemer Bueno and ...,2.97,"April 11, 2014"
21,22.,"""Dark Horse""[53]",Katy Perry featuring Juicy J,2.97,"February 20, 2014"
22,23.,"""Girls Like You""[54]",Maroon 5 featuring Cardi B,2.96,"May 31, 2018"
23,24.,"""Let Her Go""[55]",Passenger,2.91,"July 25, 2012"
24,25.,"""Mi Gente""[56]",J Balvin and Willy William,2.86,"June 29, 2017"
25,26.,"""Hello""[57]",Adele,2.79,"October 22, 2015"
26,27.,"""Perfect""[58]",Ed Sheeran,2.74,"November 9, 2017"
27,28.,"""Waka Waka (This Time for Africa)""[59]",Shakira featuring Freshlyground,2.74,"June 4, 2010"
28,29.,"""Blank Space""[60]",Taylor Swift,2.72,"November 10, 2014"
29,30.,"""Chantaje""[61]",Shakira featuring Maluma,2.62,"November 18, 2016"

Question:2 - BCCI.tv

In [13]:
# Driver
driver = webdriver.Chrome(r"C:\Users\HOMA\Downloads\chromedriver_win32\chromedriver.exe")

In [14]:
# Url of the website.
url='https://www.bcci.tv/'

In [15]:
# Getting the url.
driver.get(url)

In [16]:
#procedure to click on the fixtures and navigate to internantional fixtures page
driver.find_element_by_xpath('//nav[@class="navigation__menu js-navigation-menu"]/ul/li[1]').click()
time.sleep(2)
driver.find_element_by_xpath('//nav[@class="navigation__menu js-navigation-menu"]/ul/li[1]/div/div/ul/li[1]').click()
time.sleep(3)

In [18]:
# Creating Empty sets
Title=[]
Series=[]
Place=[]
Time=[]
Date=[]

In [19]:
#scrape the Data from the url.
title = driver.find_elements_by_xpath('//strong[@class="fixture__name fixture__name--with-margin"]')
tournament = driver.find_elements_by_xpath('//div[@class="fixture__format-strip"]')
place = driver.find_elements_by_xpath('//p[@class="fixture__additional-info"]/span')
date = driver.find_elements_by_xpath('//div[@class="fixture__datetime desktop-only"]/div/span')
month = driver.find_elements_by_xpath('//div[@class="fixture__datetime desktop-only"]/div/div/span[1]')
time = driver.find_elements_by_xpath('//div[@class="fixture__full-date"]/div/span[2]')

In [21]:
#iterate over each list to get the text
for i in title:
    Title.append(i.text)
for i in tournament:
    Series.append(i.text)
for i in place:
    Place.append(i.text)
for i in time:
    Time.append(i.text)
for i in range(len(date)):
    Date.append(date[i].text+month[i].text)

In [26]:
#creating DataFrame.
icc_Info = pd.DataFrame({})
icc_Info['Title'] = Title[:16]
icc_Info['Series'] = Series[:16]
icc_Info['Place'] = Place[:16]
icc_Info['Time'] = Time[:16]
icc_Info['Date'] = Date[:16]

In [27]:
icc_Info

,Title,Series,Place,Time,Date
0,2nd Test,TEST\nINDIA V ENGLAND 2021,"M. A. Chidambaram Stadium, Chennai",09:30 IST,13FEBRUARY
1,3rd Test,TEST\nINDIA V ENGLAND 2021,"Sardar Patel Stadium, Ahmedabad",14:30 IST,24FEBRUARY
2,4th Test,TEST\nINDIA V ENGLAND 2021,"Sardar Patel Stadium, Ahmedabad",09:30 IST,04MARCH
3,1st T20I,T20I\nINDIA V ENGLAND 2021,"Sardar Patel Stadium, Ahmedabad",19:00 IST,12MARCH
4,2nd T20I,T20I\nINDIA V ENGLAND 2021,"Sardar Patel Stadium, Ahmedabad",19:00 IST,14MARCH
5,3rd T20I,T20I\nINDIA V ENGLAND 2021,"Sardar Patel Stadium, Ahmedabad",19:00 IST,16MARCH
6,4th T20I,T20I\nINDIA V ENGLAND 2021,"Sardar Patel Stadium, Ahmedabad",19:00 IST,18MARCH
7,5th T20I,T20I\nINDIA V ENGLAND 2021,"Sardar Patel Stadium, Ahmedabad",19:00 IST,20MARCH
8,1st ODI,ODI\nINDIA V ENGLAND 2021,"Maharashtra Cricket Association Stadium, Pune",13:30 IST,23MARCH
9,2nd ODI,ODI\nINDIA V ENGLAND 2021,"Maharashtra Cricket Association Stadium, Pune",13:30 IST,26MARCH
10,3rd ODI,ODI\nINDIA V ENGLAND 2021,"Maharashtra Cricket Association Stadium, Pune",13:30 IST,28MARCH
11,1st Test,TEST\nENGLAND V INDIA 2021,"Trent Bridge, Nottingham",15:30 IST,04AUGUST
12,2nd Test,TEST\nENGLAND V INDIA 2021,"Lord's, London",15:30 IST,12AUGUST
13,3rd Test,TEST\nENGLAND V INDIA 2021,"Headingley, Leeds",15:30 IST,25AUGUST
14,4th Test,TEST\nENGLAND V INDIA 2021,"The Oval, London",15:30 IST,02SEPTEMBER
15,5th Test,TEST\nENGLAND V INDIA 2021,"Old Trafford, Manchester",15:30 IST,10SEPTEMBER

Question-3: Guru99.com

In [66]:
# Driver
driver = webdriver.Chrome(r"C:\Users\HOMA\Downloads\chromedriver_win32\chromedriver.exe")

In [67]:
# URL of the website.
url='https://www.guru99.com/'

In [68]:
# Getting URL.
driver.get(url)

In [70]:
#navigate to selenium page
import time
driver.find_element_by_xpath('//div[@class="featured-box cloumnsize1"]/ul[1]/li[3]').click()
time.sleep(3)

#navigate to exceptions page
driver.find_element_by_xpath('//div[@class="item-page"]/div[2]/table[5]/tbody/tr[34]/td[1]').click()

In [71]:
# Creating empty sets.
Exception_name = []
Description = []

In [72]:
#scrape the data from the page.
exception = driver.find_elements_by_xpath('//table[@class="table table-striped"]/tbody/tr/td[1]')
description = driver.find_elements_by_xpath('//table[@class="table table-striped"]/tbody/tr/td[2]')

In [73]:
# Get test by iterating over tags list.
for i in exception[1:]:
    Exception_name.append(i.text)
for i in description[1:]:
    Description.append(i.text)

In [74]:
# Creating DataFrame.
Exceptions_Info = pd.DataFrame({})
Exceptions_Info['Exception_Name']= Exception_name
Exceptions_Info['Description'] = Description

In [75]:
Exceptions_Info

,Exception_Name,Description
0,ElementNotVisibleException,This type of Selenium exception occurs when an...
1,ElementNotSelectableException,This Selenium exception occurs when an element...
2,NoSuchElementException,This Exception occurs if an element could not ...
3,NoSuchFrameException,This Exception occurs if the frame target to b...
4,NoAlertPresentException,This Exception occurs when you switch to no pr...
5,NoSuchWindowException,This Exception occurs if the window target to ...
6,StaleElementReferenceException,This Selenium exception occurs happens when th...
7,SessionNotFoundException,The WebDriver is acting after you quit the bro...
8,TimeoutException,Thrown when there is not enough time for a com...
9,WebDriverException,This Exception takes place when the WebDriver ...
10,ConnectionClosedException,This type of Exception takes place when there ...
11,ElementClickInterceptedException,The command may not be completed as the elemen...
12,ElementNotInteractableException,This Selenium exception is thrown when any ele...
13,ErrorInResponseException,This happens while interacting with the Firefo...
14,ErrorHandler.UnknownServerException,Exception is used as a placeholder in case if ...
15,ImeActivationFailedException,This expectation will occur when IME engine ac...
16,ImeNotAvailableException,It takes place when IME support is unavailable.
17,InsecureCertificateException,Navigation made the user agent to hit a certif...
18,InvalidArgumentException,It occurs when an argument does not belong to ...
19,InvalidCookieDomainException,This happens when you try to add a cookie unde...
20,InvalidCoordinatesException,This type of Exception matches an interacting ...
21,InvalidElementStateExceptio,It occurs when command can't be finished when ...
22,InvalidSessionIdException,This Exception took place when the given sessi...
23,InvalidSwitchToTargetException,This occurs when the frame or window target to...
24,JavascriptException,This issue occurs while executing JavaScript g...
25,JsonException,It occurs when you afford to get the session w...
26,NoSuchAttributeException,This kind of Exception occurs when the attribu...
27,MoveTargetOutOfBoundsException,It takes place if the target provided to the A...
28,NoSuchContextException,ContextAware does mobile device testing.
29,NoSuchCookieException,This Exception occurs when no cookie matching ...
30,NotFoundException,This Exception is a subclass of WebDriverExcep...
31,RemoteDriverServerException,This Selenium exception is thrown when the ser...
32,ScreenshotException,It is not possible to capture a screen.
33,SessionNotCreatedException,It happens when a new session could not be suc...
34,UnableToSetCookieException,This occurs if a driver is unable to set a coo...
35,UnexpectedTagNameException,Happens if a support class did not get a web e...
36,UnhandledAlertException,This expectation occurs when there is an alert...
37,UnexpectedAlertPresentException,It occurs when there is the appearance of an u...
38,UnknownMethodException,This Exception happens when the requested comm...
39,UnreachableBrowserException,This Exception occurs only when the browser is...
40,UnsupportedCommandException,This occurs when remote WebDriver does n't sen...

Question-4: Statistics Time

In [76]:
# Driver
driver = webdriver.Chrome(r"C:\Users\HOMA\Downloads\chromedriver_win32\chromedriver.exe")

In [77]:
# URL of the website
url='http://statisticstimes.com/'

In [78]:
# Getting the URL.
driver.get(url)

In [79]:
# Creating empty sets.
Rank = []
State = []
GSDP_18_19 = []
GSDP_17_18 = []
Share = []
GDP = []

In [80]:
# Navigate to the statewise gdp page and click on the dropdown menu.
driver.find_element_by_xpath('//div[@class="navbar"]/div[2]').click()
time.sleep(1)
driver.find_element_by_xpath('//div[@class="navbar"]/div[2]/div/a[3]').click()
time.sleep(2)
driver.find_element_by_xpath('/html/body/div[2]/div[2]/div[2]/ul/li[1]/a').click()
time.sleep(2)

In [82]:
#scraping the data from the page.
rank = driver.find_elements_by_xpath('//div[@id="main"]/div[5]/div/div/table/tbody/tr/td[1]')
state = driver.find_elements_by_xpath('//div[@id="main"]/div[5]/div/div/table/tbody/tr/td[2]')
gdsp1 = driver.find_elements_by_xpath('//div[@id="main"]/div[5]/div/div/table/tbody/tr/td[3]')
gdsp2 = driver.find_elements_by_xpath('//div[@id="main"]/div[5]/div/div/table/tbody/tr/td[4]')
share = driver.find_elements_by_xpath('//div[@id="main"]/div[5]/div/div/table/tbody/tr/td[5]')
gdp = driver.find_elements_by_xpath('//div[@id="main"]/div[5]/div/div/table/tbody/tr/td[6]')
tags = [rank,state,gdsp1,gdsp2,share,gdp]

In [84]:
#iterate on each tags list to get data 
for i in tags:
    for j in i:
        if i==tags[0]:
            Rank.append(j.text)
        if i==tags[1]:
            State.append(j.text)
        if i==tags[2]:
            GSDP_18_19.append(j.text)
        if i==tags[3]:
            GSDP_17_18.append(j.text)
        if i==tags[4]:
            Share.append(j.text)
        if i==tags[5]:
            GDP.append(j.text)

In [90]:
# Creating DataFrame.
Economy=pd.DataFrame({})
Economy['Rank'] = Rank[:33]
Economy['State'] = State[:33]
Economy['Gdsp_18_19'] = GSDP_18_19[:33]
Economy['Gdsp_17_18'] = GSDP_17_18[:33]
Economy['Share'] = Share[:33]
Economy['GDP'] = GDP[:33]

In [91]:
Economy

   Rank                      State Gdsp_18_19 Gdsp_17_18   Share      GDP
0     1                Maharashtra          -  2,632,792  13.88%  398.145
1     2              Uttar Pradesh  1,794,508  1,668,229   8.79%  252.278
2     3                 Tamil Nadu  1,845,853  1,630,208   8.59%  246.529
3     4                  Karnataka  1,699,115  1,544,399   8.14%  233.552
4     5                    Gujarat          -  1,502,899   7.92%  227.276
5     6                West Bengal  1,253,832  1,089,898   5.75%  164.820
6     7                  Rajasthan  1,020,989    942,586   4.97%  142.543
7     8             Andhra Pradesh    972,782    862,957   4.55%  130.501
8     9                  Telangana    969,604    861,031   4.54%  130.210
9    10             Madhya Pradesh    906,672    809,592   4.27%  122.431
10   11                     Kerala          -    781,653   4.12%  118.206
11   12                      Delhi    856,112    774,870   4.08%  117.180
12   13                    Haryana    831,610    734,163   3.87%  111.024
13   14                      Bihar    611,804    530,363   2.80%   80.204
14   15                     Punjab    574,760    526,376   2.77%   79.601
15   16                     Odisha    531,374    492,229   2.59%   74.437
16   17                      Assam          -    315,881   1.67%   47.769
17   18               Chhattisgarh    329,180    304,063   1.60%   45.982
18   19                  Jharkhand    328,598    297,204   1.57%   44.945
19   20                Uttarakhand          -    245,895   1.30%   37.186
20   21            Jammu & Kashmir          -    155,956   0.82%   23.584
21   22           Himachal Pradesh    165,472    153,845   0.81%   23.265
22   23                        Goa          -     73,170   0.39%   11.065
23   24                    Tripura     55,358     49,845   0.26%    7.538
24   25                 Chandigarh          -     42,114   0.22%    6.369
25   26                 Puducherry     40,802     36,656   0.19%    5.543
26   27                  Meghalaya     36,572     33,481   0.18%    5.063
27   28                     Sikkim     32,496     28,723   0.15%    4.344
28   29                    Manipur          -     27,869   0.15%    4.214
29   30                   Nagaland          -     27,283   0.14%    4.126
30   31          Arunachal Pradesh          -     24,603   0.13%    3.721
31   32                    Mizoram          -     19,520   0.10%    2.952
32   33  Andaman & Nicobar Islands          -          -       -        -

Question-6: Billi Board

In [92]:
# Driver
driver = webdriver.Chrome(r"C:\Users\HOMA\Downloads\chromedriver_win32\chromedriver.exe")

In [93]:
# URL of the website.
url='https://www.billboard.com/'

In [94]:
# Getting the url.
driver.get(url)

In [95]:
# Clicking on Hot 100 Button.
driver.find_element_by_xpath('//*[@id="root"]/div[2]/div[2]/nav/ul/li[3]/a').click()

In [96]:
# Creating empty sets.
Name = []
Artist = []
Last_week_rank = []
Peak_rank = []
No_of_week = []

In [97]:
# Scraping the data from the page.
name = driver.find_elements_by_xpath('//ol[@class="chart-list__elements"]/li/button/span[2]/span[1]')
artist = driver.find_elements_by_xpath('//ol[@class="chart-list__elements"]/li/button/span[2]/span[2]')
last_week = driver.find_elements_by_xpath('//ol[@class="chart-list__elements"]/li/button/div/div[1]')
peak = driver.find_elements_by_xpath('//ol[@class="chart-list__elements"]/li/button/div/div[2]')
no_of_week = driver.find_elements_by_xpath('//ol[@class="chart-list__elements"]/li/button/div/div[3]')

In [98]:
for i in [name,artist,last_week,peak,no_of_week]:
    for j in i:
        if i==name:
            Name.append(j.text)
        if i==artist:
            Artist.append(j.text)
        if i==last_week:
            Last_week_rank.append(j.text)
        if i==peak:
            Peak_rank.append(j.text)
        if i==no_of_week:
            No_of_week.append(j.text)

In [99]:
# Creating the DataFrame.            
Billi_Board = pd.DataFrame({})
Billi_Board['Song_Name'] = Name
Billi_Board['Artist_Name'] = Artist
Billi_Board['Last_Week_Rank'] = Last_week_rank
Billi_Board['Peak_Rank'] = Peak_rank
Billi_Board['Weeks_On_Board'] = No_of_week

In [100]:
Billi_Board

,Song_Name,Artist_Name,Last_Week_Rank,Peak_Rank,Weeks_On_Board
0,Drivers License,Olivia Rodrigo,,1,1
1,Mood,24kGoldn Featuring iann dior,2,1,26
2,Blinding Lights,The Weeknd,3,1,61
3,34+35,Ariana Grande,4,2,14
4,Levitating,Dua Lipa Featuring DaBaby,5,5,18
...,...,...,...,...,...
95,Fake Woke,Tom MacDonald,,-,96
96,Prisoner,Miley Cyrus Featuring Dua Lipa,81,54,11
97,Dangerous,Morgan Wallen,,-,62
98,Almost Maybes,Jordan Davis,,-,95
99,Mr. Right Now,21 Savage & Metro Boomin Featuring Drake,80,10,18

Question-7: Naukri.

In [174]:
# Driver
driver = webdriver.Chrome(r"C:\Users\HOMA\Downloads\chromedriver_win32\chromedriver.exe")

In [175]:
# Url of the website.
url='https://www.naukri.com'

In [176]:
# Getting url
driver.get(url)

In [177]:
# Getting url of the recruiters button through href.
Recruiter = (driver.find_element_by_xpath('//div[@class="headGNBWrap initial fixed"]/div/ul/li[2]/a')).get_attribute('href')
driver.get(Recruiter)

In [178]:
# Entering into the search button and sending the keys of Data Science.
Search_button = driver.find_element_by_xpath('//input[@class="sugInp"]')
Search_button.send_keys('Data Science')

In [179]:
# Clicking the search button.
Search_click = driver.find_element_by_xpath('//button[@class="fl qsbSrch blueBtn"]')
Search_click.click()

In [180]:
# Creating Empty sets.
Name = []
Position = []
Company = []
Location = []
Skill = []

In [181]:
names = driver.find_elements_by_xpath('//div[@class="recInfo"]/div[1]/p/a[1]')
urls = []
for i in names:
    Name.append(i.text)
    urls.append(i.get_attribute('href'))

In [182]:
# Scraping the data from each page through urls.
for url in urls:
    driver.get(url)
    Position.append(driver.find_element_by_xpath('//div[@class="rFrame fl infoWrapper"]/div[3]').text)
    Company.append(driver.find_element_by_xpath('//div[@class="rFrame fl infoWrapper"]/div[4]').text)
    try:
        Location.append(driver.find_element_by_xpath('//a[@class="rFrame fl infoWrapper"]/div[3]').text)
    except:
        Location.append('-')
    Skill.append(driver.find_element_by_xpath('//div[@class="fadeOutParent readMoreHt100 "]/div[2]/div/p').text)

In [183]:
# Creating DataFrame.            
DS_Recruiters = pd.DataFrame({})
DS_Recruiters['Name'] = Name
DS_Recruiters['Designation'] = Position
DS_Recruiters['Company'] = Company
DS_Recruiters['Location'] = Location
DS_Recruiters['Skill_Hire'] = Skill

In [193]:
DS_Recruiters[:10]

,Name,Designation,Company,Location,Skill_Hire
0,,HR Manager,Data Science Network,-,"Classic ASP Developer , Internet Marketing Pro..."
1,,Company Recruiter,Shore Infotech India Pvt. Ltd,-,".Net , Java , Data Science , Linux Administrat..."
2,,Recruitment Professional,XenonStack,-,"Web Designing , html5 , Angular.js , seo , had..."
3,,Company Recruiter,Enerlytics Software Solutions Pvt Ltd,-,", Mean Stack , javascript , angularjs , mongod..."
4,,Company HR,MARSIAN Technologies LLP,-,"Mid Level, Junior Level"
5,,Founder & CEO,LibraryXProject,-,"Hadoop , Spark , Digital Strategy , Data Archi..."
6,,Manager- Talent Acquisition,Compunnel Technology India Pvt. Ltd,-,"Mid Level, High Level"
7,,Recruitment - Lead Consultant,Apidel Technologies Division of Transpower,-,"Analytics , Business Intelligence , Business A..."
8,,Programme Manager,IFMR,-,Analytics & Business Intelligence
9,,HR Administrator,Techvantage Systems Pvt Ltd,-,"Machine Learning , algorithms , Go Getter , Co..."

Question-8: The Guardian.

In [185]:
# Driver
driver = webdriver.Chrome(r"C:\Users\HOMA\Downloads\chromedriver_win32\chromedriver.exe")

In [186]:
# URL of the website.
url='https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare'

In [187]:
# Getting URL website.
driver.get(url)

In [188]:
# Creating empty sets.
Title = []
Author = []
Sold = []
Publisher = []
Genre = []

In [189]:
# scraping the data for each name.
title = driver.find_elements_by_xpath('//div[@class="embed block"]/table/tbody/tr/td[2]')
author = driver.find_elements_by_xpath('//div[@class="embed block"]/table/tbody/tr/td[3]')
sold = driver.find_elements_by_xpath('//div[@class="embed block"]/table/tbody/tr/td[4]')
publisher = driver.find_elements_by_xpath('//div[@class="embed block"]/table/tbody/tr/td[5]')
genre = driver.find_elements_by_xpath('//div[@class="embed block"]/table/tbody/tr/td[6]')

In [190]:
# Appending the data into text through for loop.
for i in [title,author,sold,publisher,genre]:
    for j in i:
        if i==title:
            Title.append(j.text)
        if i==author:
            Author.append(j.text)
        if i==sold:
            Sold.append(j.text)
        if i==publisher:
            Publisher.append(j.text)
        if i==genre:
            Genre.append(j.text)

In [191]:
# Creating DataFrame.           
Novels = pd.DataFrame({})
Novels ['Book_Name'] = Title
Novels['Author_Name'] = Author
Novels['Volumes_Sold'] = Sold
Novels['Publisher'] = Publisher
Novels['Genre'] = Genre

In [192]:
Novels

,Book_Name,Author_Name,Volumes_Sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

Question-9: IMDB

In [194]:
# Driver
driver = webdriver.Chrome(r"C:\Users\HOMA\Downloads\chromedriver_win32\chromedriver.exe")

In [195]:
# URL of the website.
url = 'https://www.imdb.com/list/ls095964455/'

In [196]:
# Getting url.
driver.get(url)

In [197]:
# Creating empty lists.
Name=[]
Year_span=[] 
Genre=[] 
Run_time=[] 
Ratings=[] 
Votes=[]

In [198]:
# Finding elements through for loop and appending.
name = driver.find_elements_by_xpath('//h3[@class="lister-item-header"]/a')
for i in name:
    Name.append(i.text)
year = driver.find_elements_by_xpath('//span[@class="lister-item-year text-muted unbold"]')
for i in year:
    Year_span.append(i.text)
genre = driver.find_elements_by_xpath('//span[@class="genre"]')
for i in genre:
    Genre.append(i.text)
run_time = driver.find_elements_by_xpath('//span[@class="runtime"]')
for i in run_time:
    Run_time.append(i.text)
ratings = driver.find_elements_by_xpath('//div[@class="ipl-rating-star small"]')
for i in ratings:
    Ratings.append(i.text)
vote = driver.find_elements_by_xpath('//span[@name="nv"]')
for i in vote:
    Votes.append(i.text)

In [199]:
# Creating DataFrame.
Top_IMDB_Series = pd.DataFrame({})
Top_IMDB_Series['Name'] =Name
Top_IMDB_Series['Year_Span'] = Year_span
Top_IMDB_Series['Genre'] = Genre
Top_IMDB_Series['Run_Time'] = Run_time
Top_IMDB_Series['Ratings'] = Ratings
Top_IMDB_Series['Votes'] = Votes

In [200]:
Top_IMDB_Series

,Name,Year_Span,Genre,Run_Time,Ratings,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.3,"1,769,811"
1,Stranger Things,(2016– ),"Drama, Fantasy, Horror",51 min,8.7,"822,099"
2,The Walking Dead,(2010– ),"Drama, Horror, Thriller",44 min,8.2,"853,307"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.6,"256,169"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"216,432"
...,...,...,...,...,...,...
95,Reign,(2013–2017),"Drama, Fantasy",42 min,7.5,"43,586"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"53,867"
97,Criminal Minds,(2005–2020),"Crime, Drama, Mystery",42 min,8.1,"161,188"
98,Scream: The TV Series,(2015–2019),"Crime, Drama, Horror",45 min,7.2,"34,093"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"182,352"

Question-10: UCI

In [230]:
# URL of the website.
url='https://archive.ics.uci.edu/ml/index.php'

In [231]:
# Getting URL of the website.
driver.get(url)

In [232]:
# All pages data.
driver.find_element_by_xpath('/html/body/table[1]/tbody/tr/td[2]/span[2]').click()

In [233]:
# Creating Empty sets.
Data_Name = []
Data_type = []
Task = []
Attribute_type = []
Instance = []
Attribute = []
Year = []

In [234]:
#scraping the data for all names.
name = driver.find_elements_by_xpath('/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td/table/tbody/tr/td[2]')
data_type = driver.find_elements_by_xpath('/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[2]/p')
task = driver.find_elements_by_xpath('/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[3]/p')
attribute_type = driver.find_elements_by_xpath('/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[4]/p')
instance = driver.find_elements_by_xpath('/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[5]/p')
attribute = driver.find_elements_by_xpath('/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[6]/p')
year = driver.find_elements_by_xpath('/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[7]/p')

In [235]:
# Appending the data into text through for loop.
for i in name:
    Data_Name.append(i.text)
for i in [data_type,task,attribute_type,instance,attribute,year]:
    for j in i[1:]:
        if i==data_type:
            Data_type.append(j.text)
        if i==task:
            Task.append(j.text)
        if i==attribute_type:
            Attribute_type.append(j.text)
        if i==instance:
            Instance.append(j.text)
        if i==attribute:
            Attribute.append(j.text)
        if i==year:
            Year.append(j.text)

In [238]:
# Creating DataFrame.
UCI_Datasets = pd.DataFrame({})
UCI_Datasets['Name'] = Data_Name[:559]
UCI_Datasets['Data_Type'] = Data_type[:559]
UCI_Datasets['Task'] = Task[:559]
UCI_Datasets['Attribute_Type'] = Attribute_type[:559]
UCI_Datasets['Instance'] = Instance[:559]
UCI_Datasets['Attribute'] = Attribute[:559]
UCI_Datasets['Year'] = Year[:559]

In [237]:
# Checking Lengths.
len(Instance),len(Attribute_type),len(Data_type),len(Name),len(Attribute),len(Year),len(Data_Name)

(559, 559, 559, 1218, 559, 559, 559)

In [239]:
# Final DataFrame.
UCI_Datasets

,Name,Data_Type,Task,Attribute_Type,Instance,Attribute,Year
0,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
1,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
2,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38,
3,Anonymous Microsoft Web Data,,Recommender-Systems,Categorical,37711,294,1998
4,Arrhythmia,Multivariate,Classification,"Categorical, Integer, Real",452,279,1998
...,...,...,...,...,...,...,...
554,IIWA14-R820-Gazebo-Dataset-10Trajectories,,Regression,Integer,,,2020
555,Guitar Chords finger positions,Text,Classification,,2633,5,2020
556,Russian Corpus of Biographical Texts,Text,Classification,,200,2,2020
557,Codon usage,Multivariate,"Classification, Clustering",,13028,69,2020
558,Intelligent Media Accelerometer and Gyroscope ...,Time-Series,Classification,Real,800,9,2020

Question-5: GitHub

In [216]:
# URL of the website.
url = 'https://github.com/'

In [217]:
# Getting URL.
driver.get(url)

In [218]:
# Clicking on the trending option through Explore bar.
Trending = driver.find_element_by_xpath("//ul[@class='list-style-none mb-3']/li[3]/a")
driver.get(Trending.get_attribute('href'))

In [219]:
# Creating empty lists.
Repository_title=[]
Repository_description=[] 
Contributors_count=[] 
Language_used=[]

In [221]:
# Finding elements and appending through NoSuchElementException.
repository_title = driver.find_elements_by_xpath('//h1[@class="h3 lh-condensed"]')
for i in repository_title:
    Repository_title.append(i.text)

description = driver.find_elements_by_xpath('//p[@class="col-9 text-gray my-1 pr-4"]')
for i in description:
    Repository_description.append(i.text)

language_used = driver.find_elements_by_xpath('//span[@class="d-inline-block ml-0 mr-3"]/span[2]')
for i in language_used:
    
    try:
        Language_used.append(i.text)
        
    except NoSuchElementException :
        
        Language_used.append("---")
        
urls = []
for i in driver.find_elements_by_xpath("//h1[@class='h3 lh-condensed']/a"):
    urls.append(i.get_attribute("href"))

for URL in urls:
    
    try:
        driver.get(URL)
        count = driver.find_element_by_xpath("//div[@class='BorderGrid-cell']/h2/a/span").text
        Contributors_count.append(count)
    except NoSuchElementException :
        Contributors_count.append("---")

In [226]:
# Creating DataFrame.
GitHub_Repositories = pd.DataFrame({})
GitHub_Repositories['Repository_Title'] = Repository_title[:23]
GitHub_Repositories['Repository_Description'] = Repository_description[:23]
GitHub_Repositories['Contributors_Count'] = Contributors_count[:23]
GitHub_Repositories['Language_Used'] = Language_used[:23]

In [229]:
# Final DataFrame.
GitHub_Repositories[:10]

,Repository_Title,Repository_Description,Contributors_Count,Language_Used
0,Melvin-Abraham / Google-Assistant-Unofficial-D...,A cross-platform unofficial Google Assistant C...,3,JavaScript
1,benawad / dogehouse,The home for voice conversations.,,TypeScript
2,flameshot-org / flameshot,Powerful yet simple to use screenshot software...,17,C++
3,ratfactor / ziglings,Learn the Zig programming language by fixing t...,,Zig
4,adityatelange / hugo-PaperMod,"A fast, clean, responsive Hugo theme",4,HTML
5,libsdl-org / SDL,Simple Directmedia Layer,21,C
6,satwikkansal / wtfpython,What the f*ck Python? 😱,2,Python
7,mbround18 / valheim-docker,Valheim Docker server with Odin the CLI tool.,1,Rust
8,deepmind / deepmind-research,This repository contains implementations and i...,,Jupyter Notebook
9,TheAlgorithms / Java,All Algorithms implemented in Java,,Java

# Thank You....!!