# Web Scraping Assigment-2

 Q1: Write a python program to scrape data for “Data Analyst” Job position in
“Bangalore” location. You have to scrape the job-title, job-location, company_name,
experience_required. You have to scrape first 10 jobs data.

In [1]:
 ! pip install Selenium

Requirement already satisfied: Selenium in c:\users\homa\anaconda3\new folder\lib\site-packages (3.141.0)
Requirement already satisfied: urllib3 in c:\users\homa\anaconda3\new folder\lib\site-packages (from Selenium) (1.24.2)

In [2]:
#Import Selenium,Pandas and Web driver.
import selenium
import pandas as pd
from selenium import webdriver

In [3]:
# Getting address of the chromedriver and importing. 
driver = webdriver.Chrome(r"C:\Users\HOMA\Downloads\chromedriver_win32\chromedriver.exe")

In [4]:
# URL for Naukri website.
url = "https://www.naukri.com/data-analyst-jobs-in-bangalore?k=data%20analyst&l=bangalore"

In [5]:
# Getting the URL thorugh webdriver.
driver.get(url)

In [6]:
# Creating empty sets.
Job_title = []
Job_location = []
Company_name = []
Experience_required = []

In [7]:
# Finding the elements for titles.
titles = driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
titles[:4]

[<selenium.webdriver.remote.webelement.WebElement (session="d3eddb8aed41d09f324ea301132f353f", element="b76eae82-19fb-4c8c-b801-6b2f195e3326")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d3eddb8aed41d09f324ea301132f353f", element="9ed2d850-5136-4b2a-bae8-fafcd9a55e5e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d3eddb8aed41d09f324ea301132f353f", element="9b649c60-f80b-4ed6-9174-7edde60d58e4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d3eddb8aed41d09f324ea301132f353f", element="c192e9b0-902c-4012-9e09-d63118077c1b")>]

In [8]:
# Finding the elements for companies.
companies = driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
companies[:4]

[<selenium.webdriver.remote.webelement.WebElement (session="d3eddb8aed41d09f324ea301132f353f", element="d1b0c888-5d94-40e8-8013-b77986d76216")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d3eddb8aed41d09f324ea301132f353f", element="925990b5-8092-44a9-82e7-b4ebc6aac64e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d3eddb8aed41d09f324ea301132f353f", element="0c09344b-d211-4e44-98b3-dbd093496657")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d3eddb8aed41d09f324ea301132f353f", element="5548fc00-3e94-4f95-8f48-0a69565470c5")>]

In [9]:
# Finding the elements of locations.
locations = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")
locations[:4]

[<selenium.webdriver.remote.webelement.WebElement (session="d3eddb8aed41d09f324ea301132f353f", element="1f9849c3-c797-4647-bfcb-be3c2f73aa32")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d3eddb8aed41d09f324ea301132f353f", element="f860f5fa-b452-406f-8230-f548357370d6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d3eddb8aed41d09f324ea301132f353f", element="1e8d9512-4b2b-420e-bf2e-2e799c511c79")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d3eddb8aed41d09f324ea301132f353f", element="39bc60e1-757b-4e1f-ab4c-a3356d598ace")>]

In [10]:
# Finding the elements of experience.
experience = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span[1]")
experience[:4]

[<selenium.webdriver.remote.webelement.WebElement (session="d3eddb8aed41d09f324ea301132f353f", element="e1b61828-5c35-4954-bc81-eba4d8d16747")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d3eddb8aed41d09f324ea301132f353f", element="697f34b6-1f99-425a-86d1-fceaaebcc40b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d3eddb8aed41d09f324ea301132f353f", element="e5640dec-2d6c-4d25-9a30-d40b3efdb8ec")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d3eddb8aed41d09f324ea301132f353f", element="45912475-3ddb-42d5-ae0c-d4abb3c84fc2")>]

In [11]:
# Finding Job_title through appending the text.
for i in titles:
    title = i.text
    Job_title.append(title)
Job_title[:10]

['Data Scientist/Data Analyst-immediate',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'ID&A - Data Analyst - Informatica MDM',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Business Data Analyst - Database Design/Mining',
 'Data Analyst - MySQL/PostgreSQL']

In [12]:
# Finding company_name through appending the text.
for i in companies:
    company = i.text
    Company_name.append(company)
Company_name[:10]

['CAIA-Center For Artificial Intelligence & Advanced Analytics',
 'Applied Materials',
 'Cognizant Technology Solutions India Pvt Ltd',
 'St. John’s Research Institute',
 'Shell India Markets Private Limited',
 'GlaxoSmithKline Pharmaceuticals Limited',
 'Cognizant Technology Solutions India Pvt Ltd',
 'Shell India Markets Private Limited',
 'AugmatrixGo',
 'Astegic']

In [13]:
# Finding Job_location through appending the text.
for i in locations:
    location = i.text
    Job_location.append(location)
Job_location[:10]

['Chennai, Pune, Bengaluru, Hyderabad',
 'Bengaluru',
 'Mumbai, Bengaluru, Hyderabad',
 'Bengaluru',
 'Bengaluru',
 'Bengaluru',
 'Bengaluru, Kolkata',
 'Bengaluru',
 'Bengaluru',
 'Pune, Mumbai, Bengaluru, Hyderabad, Noida, Jaipur']

In [14]:
# Finding Experience_required through appending the text.
for i in experience:
    exp = i.text
    Experience_required.append(exp)
Experience_required[:10]

['0-3 Yrs',
 '6-11 Yrs',
 '2-3 Yrs',
 '0-4 Yrs',
 '6-9 Yrs',
 '2-7 Yrs',
 '3-4 Yrs',
 '5-8 Yrs',
 '2-5 Yrs',
 '5-10 Yrs']

In [15]:
# Finding lengths for all variables.
print(len(Job_title),len(Job_location),len(Company_name),len(Experience_required))

20 20 20 20

In [16]:
# Creating DataFrame.
Data_analyst_jobs = pd.DataFrame({})
Data_analyst_jobs['Title'] = Job_title[:10]
Data_analyst_jobs['Company_Name'] = Company_name[:10]
Data_analyst_jobs['Job_Location'] = Job_location[:10]
Data_analyst_jobs['Experience_Required'] = Experience_required[:10]

In [17]:
# Final DataFrame.
Data_analyst_jobs

,Title,Company_Name,Job_Location,Experience_Required
0,Data Scientist/Data Analyst-immediate,CAIA-Center For Artificial Intelligence & Adva...,"Chennai, Pune, Bengaluru, Hyderabad",0-3 Yrs
1,Data Analyst,Applied Materials,Bengaluru,6-11 Yrs
2,Data Analyst,Cognizant Technology Solutions India Pvt Ltd,"Mumbai, Bengaluru, Hyderabad",2-3 Yrs
3,Data Analyst,St. John’s Research Institute,Bengaluru,0-4 Yrs
4,ID&A - Data Analyst - Informatica MDM,Shell India Markets Private Limited,Bengaluru,6-9 Yrs
5,Data Analyst,GlaxoSmithKline Pharmaceuticals Limited,Bengaluru,2-7 Yrs
6,Data Analyst,Cognizant Technology Solutions India Pvt Ltd,"Bengaluru, Kolkata",3-4 Yrs
7,Data Analyst,Shell India Markets Private Limited,Bengaluru,5-8 Yrs
8,Business Data Analyst - Database Design/Mining,AugmatrixGo,Bengaluru,2-5 Yrs
9,Data Analyst - MySQL/PostgreSQL,Astegic,"Pune, Mumbai, Bengaluru, Hyderabad, Noida, Jaipur",5-10 Yrs

Q2: Write a python program to scrape data for “Data Scientist” Job position in
“Bangalore” location. You have to scrape the job-title, job-location,
company_name, full job-description.

In [18]:
# Creating webdriver.
driver = webdriver.Chrome(r"C:\Users\HOMA\Downloads\chromedriver_win32\chromedriver.exe")

In [19]:
# Importing URL of Naukri Website.
url = "https://www.naukri.com/data-scientist-jobs-in-bangalore?k=data%20scientist&l=bangalore"

In [20]:
# Getting URL through Webdriver.
driver.get(url)

In [21]:
# Creating Empty Sets.
Job_title = []
Job_location = []
Company_name = []
Job_description = []

In [22]:
# Finding the elements for titles.
titles = driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
titles[:5]

[<selenium.webdriver.remote.webelement.WebElement (session="58f60dad33daed20d30b29258c51d6aa", element="7dbbf4cb-7bf9-4296-a086-80170f6cd9dc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="58f60dad33daed20d30b29258c51d6aa", element="ee60b6c2-7dcb-46f5-a199-9aa0529564d9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="58f60dad33daed20d30b29258c51d6aa", element="331a2c28-927a-404c-8810-9b97c92ec741")>,
 <selenium.webdriver.remote.webelement.WebElement (session="58f60dad33daed20d30b29258c51d6aa", element="9331fb5f-d53a-423c-b8c7-6a4c5161dc63")>,
 <selenium.webdriver.remote.webelement.WebElement (session="58f60dad33daed20d30b29258c51d6aa", element="518ccbc3-6b80-4fc9-968e-3e191c0ee722")>]

In [23]:
# Finding Job_title through appending the text.
for i in titles:
    title=i.text
    Job_title.append(title)
Job_title[:10]

['Data Scientist/Data Analyst-immediate',
 'HCL hiring Data scientist with exp in machine learning &SQL-Bangalore!',
 'Data Scientist - Machine Learning',
 'Senior Associate - Data Scientist/ML Engineer',
 'Senior Data Scientist',
 'Data Scientist - Machine Learning - Remote Working',
 'Software Developer - Data Scientist / NLP / Machine Learning',
 'Sr. Data Scientist',
 'Data Scientist - Machine Learning',
 'Data Scientist - Machine Learning']

In [24]:
# Finding the elements for locations.
locations = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")
locations[:5]

[<selenium.webdriver.remote.webelement.WebElement (session="58f60dad33daed20d30b29258c51d6aa", element="eea0615e-0d0e-449a-ad2a-393d99d9e533")>,
 <selenium.webdriver.remote.webelement.WebElement (session="58f60dad33daed20d30b29258c51d6aa", element="838b5484-a497-4b11-9dbc-eb1f611f589b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="58f60dad33daed20d30b29258c51d6aa", element="cbc471cd-f32f-4e7b-bef4-4b5bc909ec54")>,
 <selenium.webdriver.remote.webelement.WebElement (session="58f60dad33daed20d30b29258c51d6aa", element="21b17d80-ad25-4f2d-8f06-10db420c5f01")>,
 <selenium.webdriver.remote.webelement.WebElement (session="58f60dad33daed20d30b29258c51d6aa", element="77dda60e-a919-4837-a0f4-738f1b12dfd1")>]

In [25]:
# Finding Job_location through appending the text.
for i in locations:
    location=i.text
    Job_location.append(location)
Job_location[:10]

['Chennai, Pune, Bengaluru, Hyderabad',
 'Bengaluru',
 'Bengaluru',
 'Bengaluru',
 'Bengaluru',
 'Delhi NCR, Bengaluru, Anywhere in India',
 'Bengaluru / Bangalore',
 'Bengaluru',
 'Bengaluru',
 'Bengaluru']

In [26]:
# Finding the elements for Companies.
companies = driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
companies[:5]

[<selenium.webdriver.remote.webelement.WebElement (session="58f60dad33daed20d30b29258c51d6aa", element="0dfa597b-1bad-453d-8d23-74ff16d09b66")>,
 <selenium.webdriver.remote.webelement.WebElement (session="58f60dad33daed20d30b29258c51d6aa", element="ad406aec-08bc-4854-9d70-da43aeb5fe76")>,
 <selenium.webdriver.remote.webelement.WebElement (session="58f60dad33daed20d30b29258c51d6aa", element="0544309c-6de7-4bbe-9aa4-69bd1e91d255")>,
 <selenium.webdriver.remote.webelement.WebElement (session="58f60dad33daed20d30b29258c51d6aa", element="5a2b7873-2fdd-4743-943d-4df0bd5a27b3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="58f60dad33daed20d30b29258c51d6aa", element="ec9f8375-a48d-4dcb-9c62-eb89d9dbf08d")>]

In [27]:
# Finding Company_name through appending the text.
for i in companies:
    company=i.text
    Company_name.append(company)
Company_name[:10]

['CAIA-Center For Artificial Intelligence & Advanced Analytics',
 'HCL Technologies Limited',
 'AugmatrixGo',
 'Pricewaterhouse Coopers Private Limited',
 'Philips India Limited',
 'Doji Ltd',
 'Cunesoft India Private Limited',
 'NetApp',
 'BLUE YONDER INDIA PRIVATE LIMITED',
 'BLUE YONDER INDIA PRIVATE LIMITED']

In [28]:
# Finding the elements for Job_description and appending text.
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
urls=[i.get_attribute("href")for i in driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")]
for url in urls[0:10]:
    try:
        
        driver.get(url)
        raw_description=driver.find_element_by_xpath("//section[@class='job-desc']/div[1]").text
        description=raw_description.replace("Contact Person","@@@@@")
        description= description.split("@@@@@")
        Job_description.append(description[0])
    except NoSuchElementException :
        Job_description.append("---")
# Reference taken from github that,to use in a way of for loop to get all urls of different job descriptions in one cell.

In [29]:
# Final Job_description.
Job_description[:5]

['Dear Candidate\n\nSchedule a Telephonic Interview ( Please call for confirmation) : Mon- Sat from 11:00am to 5:00pm\n\nOR Walk-In to the Corporate office between Monday to Friday from 11:00am to 5:00pm\nContact person :\n\nManigandan -+91 7299917200\nShantha +91 9790993237\n\n\nSystech Solutions\nTemple Steps\nTower 3, 6th Floor\n184-187 Anna Salai\nSaidapet, Chennai 600015\nIndia (Near Little Mount Metro Station)\nRoles and Responsibilities\n\nGreetings from CAIA !\nA great opportunity to enter the world of future technologies - Data Science, Analytics, AI, Data Visualization\nApplications invited from all Freshers and experienced candidates aspiring to make a career in Artificial Intelligence and Advanced Analytics and Data Science.\nIn case you are trying to shift your career to Analytics and/or AI domain please do connect with us to know more.\nWhat is needed from you?\n- An Educational background in any one of the following- BE/B.Tech, ME/M Tech, MSc, BSc/MSc Maths and Statistics, B Com, BCA, BSc CS, BSC IT, MSC IT, MCA\n- Skills relating to Mathematics/Statistics.\n- Natural passion towards numbers, business, coding, Analytics and Artificial Intelligence, Machine Learning, visualization\n- Good verbal and written communication skills\n- Ability to understand domains in businesses across various sectors\n- Freshers who wish to start their career in Analytics and AI and professionals who wish to up skill or change their domain to analytics and emerging technologies are free to apply.\nSelection procedure includes\n- Online Aptitude Test\n- Logical Ability Test / Written Test\nOn being shortlisted, you will be have to undergo a one-one discussion with our counsellor for further evaluation and processing of your Resume.\nWhat you can expect from us?\nYou will get trained on the following modules for a period of 12-14 weeks:\n-SQL & PLSQL\n-Data Wrangling using Python\n-Statistics for Machine Learning,\n-Artificial Intelligence, Data Interpretation\n-Supervised & Unsupervised Learning,\n-NLP & Deep Learning\n-Cloud Data Lake\n-Business intelligence & Data Visualization\n-Simulation Projects\nWhat is the expected Outcome?\nAt the end of the Training you are expected to be well versed with the following:\n- Analysis of large and complex data sets from multiple sources\n- Development and evaluation of data analytics models, algorithms and solutions\n- Understanding/implementation of ML algorithms, performance tuning and reporting\n- Implementation of algorithms to mine targeted data and the ability to convert data into a business story\n- Translation of business requirements into technical requirements; Data extraction, preparation and transformation\n- Identification, development and implementation of statistical techniques and algorithms that address business challenges and adds value to the organisation\n- Requirement Analysis and communication of findings in the form of a meaningful story with the stakeholders\nCenter for Artificial Intelligence & Advanced Analytics (CAIA) focuses on the following:\n1. Global Research on emerging trends, technologies and applications in AI and Advanced Analytics\n2. Advanced Training programs for readying the future ready workforce\n3. Solutions to herald the futuristic lifestyle and workspaces in the field of AI and Data Science.\nhttp://www.centerforaia.com/\nCenter for Artificial Intelligence and Advanced Analytics (Center for AIA) is the brainchild of experienced and visionary alumni of IIT Madras and Bombay. Digital leaders 5F World and Systech Solutions have joined hands to create a venture for architecting the future of society, workforce, governments and businesses. 5F World specializes in designing solutions around digital platforms and Systech Solutions has an expertise in architecting Artificial Intelligence and Advanced Analytics solutions for Fortune 500 companies through specialized programmed.\n5F World\n5F World is a leader in digital transformational journeys and has brought together the best minds in industry, academia and technology domains to develop a unique framework to transform stakeholder journeys through innovation and digitalization of businesses and education institutions.\nSystech Solutions\nSystech Solutions is a leading organisation in Data Strategy, Management & Analytics services provider with deep technology expertise and over 20 years of industry experience. Systech Solutions helps empower clients with innovative, data-driven solutions to reimagine their enterprise and has forged partnerships with industry-leading technology providers to develop a full spectrum of data services.\n\nWebsite\nhttp://www.centerforaia.com/\n\nhttps://inflexion-analytix-private-limited.business.site/?m=true\n\n\n\n',
 "Dear Candidate,\n\nGreetings from HCL!!!\nWe are looking for Data scientists with experience in machine learning algorithms and strong SQL experience.\nIf you are Keen with Below Skill Set. Please do send the Updated CV with details such as current ctc, expected ctc and notice period to m_divvya@hcl.com / 8754448290.We are looking only for immediate joiners. Candidates with more than 30 days notice please don't apply.\n\n\nTechnical Skills:\nOverall 5+ years of experience in advanced analytics and leading/mentoring team members\nProficient in Python & SQL with minimum 2-3 years of hands on experience\nSolid fundamentals, knowledge of supervised, unsupervised, reinforcement learning machine learning and deep learning algorithms, such as classifiers, cluster analysis, dimension reduction, regression, CNN, RNN, DQN, temporal difference methods, sequence modeling, probability theory, algorithm design and theory of computation, information retrieval\nAbility to work and execute projects on both structured and unstructured data in a big data environment • Strong at preparing data for analysis using SQL and experience working with the industry leading BI tools like Tableau, visualizing the data and executing to specifications\nExperience of end to end implementation of predictive analytics projects for at least 1-3 years • Exposure to text analytics, web scraping, big data technologies and graph databases would be desirable • Exposure to visualization tools • Experience of intent to learn software domain related to VMware products and the way virtualization software/hardware\n\nPreferred Skills:\nGood understanding of API connections and data pipelining • Knowledge with Natural Language Processing (e.g. word2vec, doc2vec, attention, LDA) • Understanding of different model performance metrics and hyperparameter optimization • Business Acumen, ability to translate business needs into a set of workable, specific requirements • Well versed with MS PowerPoint/Visio\nAbility to understand business requirements, KPIs and convert into analytical hypothesis in a structured and logical manner along with solution identification • Ability to handle multiple projects at a time in terms of multitasking, prioritization, allocation and team management • Ability to coordinate and work within multiple business units from project management perspective • Ability to work across geographies and interact with global stakeholders • Prior experience working in Agile methodologies/JIRA would be a plus\nWhat we are looking for:\nBS/BE in Computer Sciences, Math, Statistics or related field. Masters preferred.\nProficient in SQL and experience with efficient processing of large data sets. Ability to write sophisticated and optimized queries against large databases • Proficient in data visualization tools such as Mode Analytics or Tableau • Proficient in Excel • Experience in statistical computing with Python/R • Ability to handle several concurrent activities with strong organizational skills and attention to detail We're team players. You'll do well if you're one too",
 'Roles and Responsibilities\n\n\n- Selecting features, building and optimizing classifiers using machine learning techniques\n\n- Data mining using state-of-the-art methods\n\n- Enhancing data collection procedures to include information that is relevant for building analytic systems\n\n- Processing, cleansing, and verifying the integrity of data used for analysis\n\n- Doing ad-hoc analysis and presenting results in a clear manner\n\n- Creating automated anomaly detection systems and constant tracking of its performance\n\nSkills Required :\n\n- Excellent understanding of machine learning techniques and algorithms, such as k-NN, Naive Bayes, SVM, Decision Forests, etc.\n\n- Experiences with one or more of the following is highly desirable: HPC/Parallelization, operationalizing ML models; cloud computing (e.g. Google Cloud, AWS, etc.); familiarity with ML frameworks such as Tensorflow, Theano, MXNet, etc\n\n- Good experience in a few of the following areas: deep neural networks, reinforcement learning, Markov Random Fields, Bayesian networks, semi-supervised learning, computer vision, image processing, signal processing, distributed computing, and/or numerical optimization\n\n- 2+ years of experience with computer vision and deep learning solutions, including image classification, object detection, segmentation, and equivalent computer vision-based vision tasks\n\n- Experience with common data science toolkits, such as R, Weka, NumPy, etc . Excellence in at least one of these is highly desirable\n\n- Proficiency in using query languages such as SQL, Hive, Pig\n\n- Good applied statistics skills, such as distributions, statistical testing, regression, etc.\n\n- Good scripting and programming skills\n\n- Data-oriented personality\n\n- B.Tech/M.Tech degree in from reputed institutes like IIT / NIT / BITS',
 'Day-to-Day Responsibilities\nDesign and develop data science, machine learning, natural language processing, deep learning and related solutions to address business needs.\nDesign and implement current state-of-art machine learning, algorithms related to Forecasting, Classification, Data/Text Mining, NLP, Computer Vision, Decision Trees, Adaptive Decision Algorithms, Random Forest, Search Algorithms, Neural Networks, Deep Learning Algorithms.\nConverting the AI models into microservices and deploy them using dockers.\nDeploy AI models in production using docker with automated data pipelines.\nWork creatively and analytically to apply cutting edge techniques to specific challenges.\nAssist in the management and delivery of large data science projects.\nWork with a wide range of automation teams to validate findings and proposed analytics solutions.\nContinuously expand personal skill sets and stay up to speed on the latest A.I. trends, tools, methodologies, and techniques.\nSkills and Experience:\nDemonstrates extensive knowledge and/or a proven record of success in data analytics, including the following areas:\nIdeally at least 8 years of total experience and at least 6 years of relevant experience in the field of AI/ML.\nBachelor s or Master s Degree in Computer Science, Engineering or other technical discipline (BE, BTech, MCA).\nExperience in analyzing complex problems and translating them to data science algorithms with due attention to computational efficiency and testing at scale.\nExperience in machine learning, supervised and unsupervised: Forecasting,\nClassification, Data/Text Mining, NLP, Computer Vision, Decision Trees, Adaptive Decision Algorithms, Random Forest, Search Algorithms, Neural Networks, Deep Learning Algorithms.\nWorked with at least one mainstream machine learning frameworks, including Caffe, ConvNet, Tensor Flow, Keras, Torch.\nWorking proficiency with SQL and relational databases, data warehouse.\nExperience with big data platforms - Hadoop (Hive, Pig, Map Reduce, HQL) / Spark / H20.\nExperience with Google Cloud Platform, AWS or Azure.\nExperience with GPU/CUDA for computational efficiency.\nStrong implementation experience with languages, such as Python, Java, or Scala and familiarity with Linux/Unix/Shell environments.\nStrong hands-on skills in sourcing, cleaning, identifying patterns and outliers, manipulating and analyzing large volumes of big data using distributed computing platform\nUnderstanding of NoSQL (Graph, Document, Columnar) database models, XML, relational and other database models and associated SQL.\nDemonstrates extensive abilities and/or a proven record of success in the application of statistical modelling, algorithms, data mining and machine learning algorithms problem solving.\nA track record of delivery within several large-scale projects, demonstrating ownership of architecture solutions and managing change.\nLeading, training and working with other data scientists in designing effective analytical approaches taking into consideration performance and scalability to large datasets.\nExperience manipulating and analyzing complex, high-volume, high-dimensionality data from varying sources.\nProven ability with NLP, Computer Vision and text-based extraction techniques.\nUnderstanding of not only how to develop data science analytic models but how to operationalize and deploy the models as microservices in production using Dockers and automated pipelines.\nDemonstrates extensive abilities and/or a proven record of success in the application of statistical or numerical methods, data mining, data wrangling and data-driven problem solving, including the following areas:\nUtilizing and applying knowledge commonly used data science packages including Spark, Pandas, SciPy, and Numpy.\nFamiliarity with deep learning architectures used for text analysis, computer vision and signal processing.\nUtilizing programming skills and knowledge on how to write models which can be directly used in production as part of a large-scale system.\nApplying techniques such as multivariate regressions, Bayesian probabilities, clustering algorithms, machine learning, dynamic programming, stochastic-processes, queuing theory, algorithmic knowledge to efficiently research and solve complex development problems and application of engineering methods to define, predict and evaluate the results obtained.\nDeveloping end to end deep learning solutions for structured and unstructured data problems.\nDeveloping and deploying A.I. solutions as part of a larger automation pipeline.\nUsing common cloud computing platforms including Azure, AWS and GCP in addition to their respective utilities for managing and manipulating large data sources, model, development, and deployment.\nVisualizing and communicating analytical results, using technologies such as HTML, JavaScript, Tableau, and Power BI.',
 'Job Description\nAt Philips, data is in the centre of everything we do. We believe that, every data item has a story of its own. If you have a penchant for unravelling the hidden patterns, then you are the person we are looking for!\nTo build our next generation smarts, you will be working with experts in a variety of fields, including clinical & regulatory specialists, UX designers, dental and skin care professionals, system architects, product management to integrate new technologies and refine system performance. You will help build learning systems, leveraging data sets consisting of user interactions and actions, collected from hundreds of thousands of consumer devices, per day to model, analyse, and predict user behaviours. While some of our algorithms run on resource constrained devices, others require large clusters on our cloud infrastructure. As data scientist you will investigate, discern, and interpret data sets to recognize user behaviour and predict trends.\nJob Responsibilities\nUse predictive modeling to increase and optimize customer experiences, revenue generation, campaign optimization and other business outcomes\nWork with product management to develop data use cases and embed predictive models in workflows on resource constrained platforms and cloud enabled.\nSelecting features, building and optimizing classifiers using machine learning and deep learning techniques\nCollaborates with Data Engineers to enhance data collection and ingestion/curation techniques to include information that is relevant for building analytic systems\nProcessing, cleansing, and verifying the integrity of data used for analysis\nDevelop processes and tools to monitor and analyze model performance and data accuracy. Life cycle management of predictive models.\nAdherence to compliance procedures in accordance with regulatory standards, requirements, and policies. Managing and designing the reporting environment, including data sources security, and metadata.\nJob Qualifications:\nMaster’s degree or PhD in Computer Science, Information management, Statistics or related field, with 10+ years of experience in the Consumer or Healthcare industry manipulating data sets and building predictive models with focus on product development\nExperience in statistical modelling, machine learning, data mining, unstructured data analytics and natural language processing. Sound understanding of - Bayesian Modelling, Classification Models, Cluster Analysis, Neural Network, Nonparametric Methods, Multivariate Statistics, etc.\nStrong hands on knowledge of ML techniques like regression algorithms, K- NN, Nave Bayes, SVM and ensemble techniques like Random forest, AdaBoost etc\nHaving strong knowledge in unsupervised learning algorithms using Neural networks and Deep- Learning\nStrong knowledge in Data Wrangling and Exploration techniques to identify the patterns, trends and outliners.\nDeep knowledge and practical experience with data science toolkits, such as NumPy, Pandas, scikit- learn or equivalent\nExperience with data visualization tools, such as QlikView, Matplotlib, seaborn or equivalent tools.\nProficiency in using query languages, such as SQL, PL/SQL\nHands on experience in the one or more databases like Hadoop, AWS Redshift, Snowflake etc.\nGood applied statistics skills, such as distributions, statistical testing, regression, etc.\nGood ETL scripting and programming skills, such as Python, R or Scala to integrate developed solution into the proposition.\nA team player capable of working and integrating across cross- functional team for implementing project requirements. Experience in technical requirements gathering and documentation.\nAbility to work effectively and independently in a fast- paced global collaborative agile team environment with tight deadlines\nA flexible, pragmatic and collaborative team player with innate ability to engage with stakeholders at all levels in the organization.\nA self- starter with high levels of drive, energy, resilience and a desire for professional excellence with a passion for data and data science']

In [30]:
# Creating DataFrame of Data_scientist_jobs.
Data_Scientist_Jobs = pd.DataFrame({})
Data_Scientist_Jobs['Job_Title'] = Job_title[:10]
Data_Scientist_Jobs['Job_Location'] = Job_location[:10]
Data_Scientist_Jobs['Company_Name'] = Company_name[:10]
Data_Scientist_Jobs['Job_Description'] = Job_description[:10]

In [31]:
# Final DataFrame.
Data_Scientist_Jobs

,Job_Title,Job_Location,Company_Name,Job_Description
0,Data Scientist/Data Analyst-immediate,"Chennai, Pune, Bengaluru, Hyderabad",CAIA-Center For Artificial Intelligence & Adva...,Dear Candidate\n\nSchedule a Telephonic Interv...
1,HCL hiring Data scientist with exp in machine ...,Bengaluru,HCL Technologies Limited,"Dear Candidate,\n\nGreetings from HCL!!!\nWe a..."
2,Data Scientist - Machine Learning,Bengaluru,AugmatrixGo,Roles and Responsibilities\n\n\n- Selecting fe...
3,Senior Associate - Data Scientist/ML Engineer,Bengaluru,Pricewaterhouse Coopers Private Limited,Day-to-Day Responsibilities\nDesign and develo...
4,Senior Data Scientist,Bengaluru,Philips India Limited,"Job Description\nAt Philips, data is in the ce..."
5,Data Scientist - Machine Learning - Remote Wor...,"Delhi NCR, Bengaluru, Anywhere in India",Doji Ltd,Please note that this role will be Remote / Ho...
6,Software Developer - Data Scientist / NLP / Ma...,Bengaluru / Bangalore,Cunesoft India Private Limited,Roles and Responsibilities\nWe are looking for...
7,Sr. Data Scientist,Bengaluru,NetApp,---
8,Data Scientist - Machine Learning,Bengaluru,BLUE YONDER INDIA PRIVATE LIMITED,---
9,Data Scientist - Machine Learning,Bengaluru,BLUE YONDER INDIA PRIVATE LIMITED,---

Q3. Find you to scrape the data of Naukri using filter Data scientist.

In [32]:
driver = webdriver.Chrome(r"C:\Users\HOMA\Downloads\chromedriver_win32\chromedriver.exe")

In [42]:
# URL of the Naukri website after searching.
url = 'https://www.naukri.com/data-scientist-jobs-in-delhi-ncr?k=data%20scientist&l=delhi%2Fncr&ctcFilter=3to6'

In [43]:
# Getting URL from webdriver.
driver.get(url)

In [44]:
# Creating Empty Sets.
Job_title = []
Job_location = []
Company_name = []
Experience_required = []

In [45]:
# Finding elements of titles from xpath.
titles = driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
titles[:4]

[<selenium.webdriver.remote.webelement.WebElement (session="3fa7aeeb6db6c2ef2ef4c8664013fbb2", element="1e72d93f-0749-4132-96a7-efa1f91e1c34")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3fa7aeeb6db6c2ef2ef4c8664013fbb2", element="06df329e-5d4e-4a59-9ebb-7e01840194f8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3fa7aeeb6db6c2ef2ef4c8664013fbb2", element="5ab89fa1-05b2-476c-bdb2-cfddfc1c90be")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3fa7aeeb6db6c2ef2ef4c8664013fbb2", element="a6af8bc7-4456-4313-8afd-332da9360745")>]

In [46]:
# Finding elements of locations by xpath.
locations = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")
locations[:5]

[<selenium.webdriver.remote.webelement.WebElement (session="3fa7aeeb6db6c2ef2ef4c8664013fbb2", element="f7daa0de-8dd9-43aa-9054-1908485ebc10")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3fa7aeeb6db6c2ef2ef4c8664013fbb2", element="6df5ac3c-0c1c-4f62-94db-f19e0f0dc927")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3fa7aeeb6db6c2ef2ef4c8664013fbb2", element="9d4d50ec-7381-438d-9e00-c8246360b120")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3fa7aeeb6db6c2ef2ef4c8664013fbb2", element="542663ea-2042-42f6-99f7-8b5ac562e39f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3fa7aeeb6db6c2ef2ef4c8664013fbb2", element="49f3ee32-379f-4e04-b78c-a7069f069a24")>]

In [47]:
# Finding elements of companies through xpath of html code.
companies = driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
companies[:5]

[<selenium.webdriver.remote.webelement.WebElement (session="3fa7aeeb6db6c2ef2ef4c8664013fbb2", element="45117976-b30d-4281-bdea-9b95b9c0e3fe")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3fa7aeeb6db6c2ef2ef4c8664013fbb2", element="4f1e0dfc-1dfc-4d52-93f4-90e2569ea8c0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3fa7aeeb6db6c2ef2ef4c8664013fbb2", element="3987a39f-2585-4ad7-a87f-1a7b6b2f0252")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3fa7aeeb6db6c2ef2ef4c8664013fbb2", element="7af89fd9-4b01-4d62-b154-78903535d41d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3fa7aeeb6db6c2ef2ef4c8664013fbb2", element="7eb5ed49-defe-442d-b811-f6cdf06e2de3")>]

In [48]:
# Finding elements of experiences through xpath.
experiences = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span[1]")
experiences[:5]

[<selenium.webdriver.remote.webelement.WebElement (session="3fa7aeeb6db6c2ef2ef4c8664013fbb2", element="1224f538-21af-4928-8302-82fe5f43a3d8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3fa7aeeb6db6c2ef2ef4c8664013fbb2", element="126bb474-60bd-417e-bfb9-b6439c1d1ce3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3fa7aeeb6db6c2ef2ef4c8664013fbb2", element="7618edaf-b99c-4676-82ed-ff471d4878e0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3fa7aeeb6db6c2ef2ef4c8664013fbb2", element="f4672774-f008-4c9d-ba1e-72beb5d9aeb1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3fa7aeeb6db6c2ef2ef4c8664013fbb2", element="dafb0b9e-2997-4d76-8ded-0f7308899768")>]

In [49]:
# Using for loop and appending the text into empty set Job_location to get Job_location.
for i in locations:
    location = i.text
    Job_location.append(location)
Job_location[:10]

['Noida',
 'Noida',
 'Delhi NCR, Gurgaon',
 'Faridabad, Delhi NCR, Ghaziabad',
 'Delhi/NCR Delhi NCR, Noida',
 'Pune, Bengaluru, Gurgaon',
 'Gurgaon Gurugram',
 'Gurgaon',
 'Delhi NCR',
 'Gurgaon']

In [51]:
# Using for loop and appending the text into empty set Job_title.
for i in titles:
    Job_title.append(i.text)
Job_title[:10]

['Data Scientist - Python/Machine Learning',
 'Tech Mahindra hiring For Data Scientist- Noida',
 'Data Scientist - Commercial Planning and Analysis',
 'Data Scientist',
 'Data Scientist - Machine Learning/ Artificial Intelligence - IT',
 'GCP Skilled Analytics Resources (Data engineer / Data scientists)',
 'Data Scientist',
 'Data Scientist Machine Learning',
 'Data Scientist',
 'Business Analyst - Data Scientist']

In [52]:
# Using for loop and appending the text into empty set company_name.
for i in companies:
    company = i.text
    Company_name.append(company)
Company_name[:10]

['Jubna',
 'tech mahindra ltd',
 'Air Asia India Limited',
 'Amity University',
 'Talent Acceleration Corridor',
 'Aerial Telecom Solutions Pvt. Ltd.',
 'IBM India Pvt. Limited',
 'Delhivery',
 'Eighteen Pixels India Private Limited',
 'HyreFox Consultants Pvt Ltd']

In [53]:
# Using for loop and appending the text into empty set Experience_required.
for i in experiences:
    experience = i.text
    Experience_required.append(experience)
Experience_required[:10]

['5-8 Yrs',
 '5-10 Yrs',
 '1-6 Yrs',
 '6-8 Yrs',
 '6-11 Yrs',
 '3-8 Yrs',
 '3-5 Yrs',
 '1-3 Yrs',
 '2-6 Yrs',
 '3-5 Yrs']

In [54]:
# Creating DataFrame of Jobs.
Jobs = pd.DataFrame({})
Jobs['Title'] = Job_title[:10]
Jobs['Location'] = Job_location[:10]
Jobs['Company_Name'] = Company_name[:10]
Jobs['Experience_Required'] = Experience_required[:10]

In [55]:
# Final DataFrame.
Jobs

,Title,Location,Company_Name,Experience_Required
0,Data Scientist - Python/Machine Learning,Noida,Jubna,5-8 Yrs
1,Tech Mahindra hiring For Data Scientist- Noida,Noida,tech mahindra ltd,5-10 Yrs
2,Data Scientist - Commercial Planning and Analysis,"Delhi NCR, Gurgaon",Air Asia India Limited,1-6 Yrs
3,Data Scientist,"Faridabad, Delhi NCR, Ghaziabad",Amity University,6-8 Yrs
4,Data Scientist - Machine Learning/ Artificial ...,"Delhi/NCR Delhi NCR, Noida",Talent Acceleration Corridor,6-11 Yrs
5,GCP Skilled Analytics Resources (Data engineer...,"Pune, Bengaluru, Gurgaon",Aerial Telecom Solutions Pvt. Ltd.,3-8 Yrs
6,Data Scientist,Gurgaon Gurugram,IBM India Pvt. Limited,3-5 Yrs
7,Data Scientist Machine Learning,Gurgaon,Delhivery,1-3 Yrs
8,Data Scientist,Delhi NCR,Eighteen Pixels India Private Limited,2-6 Yrs
9,Business Analyst - Data Scientist,Gurgaon,HyreFox Consultants Pvt Ltd,3-5 Yrs

Q4: Write a python program to scrape data for first 10 job results for Data scientist
Designation in Noida location. You have to scrape company_name, No. of days
ago when job was posted, Rating of the company.

In [74]:
driver = webdriver.Chrome(r"C:\Users\HOMA\Downloads\chromedriver_win32\chromedriver.exe")

In [75]:
# URL of the Glassdoor Website.
url = 'https://www.glassdoor.co.in/Job/noida-data-scientist-jobs-SRCH_IL.0,5_IC4477468_KO6,20.htm'

In [76]:
# Getting URL through webdriver.
driver.get(url)

In [77]:
# Craeting empty sets.
Company_name = []
No_of_days_ago_job_posted = []
Rating = []

In [78]:
# Finding elements of company_name through xpath of html code.
company_name = driver.find_elements_by_xpath("//div[@class='jobHeader d-flex justify-content-between align-items-start']")
company_name[:5]

[<selenium.webdriver.remote.webelement.WebElement (session="cc675a5305fafbda02b8131f659650d0", element="5ed5d799-eebc-4e26-8645-15de21029540")>,
 <selenium.webdriver.remote.webelement.WebElement (session="cc675a5305fafbda02b8131f659650d0", element="cf238f14-e060-4148-a521-db7fab934614")>,
 <selenium.webdriver.remote.webelement.WebElement (session="cc675a5305fafbda02b8131f659650d0", element="20c97bc1-215a-42dc-a461-bb36f934daef")>,
 <selenium.webdriver.remote.webelement.WebElement (session="cc675a5305fafbda02b8131f659650d0", element="689e39ea-dcf4-45ab-ad10-00a2a7508f19")>,
 <selenium.webdriver.remote.webelement.WebElement (session="cc675a5305fafbda02b8131f659650d0", element="d562bd58-b6fb-4727-be32-b5ab82c8acc4")>]

In [79]:
## Using for loop and appending the text into empty set company_name to get company_name result.
for i in company_name:
    companies = i.text
    Company_name.append(companies)
Company_name[:10]

['UnitedHealth Group',
 'QuantumIT',
 'Biz2Credit Inc',
 'Salasar New Age Technologies',
 'Salasar New Age Technologies',
 'Emerging India Group',
 'Techlive',
 'Dürr Somac GmbH',
 'Dürr AG',
 'DonePull']

In [80]:
# Finding the elements of Job_posted through xpath.
job_posted = driver.find_elements_by_xpath("//div[@class='d-flex align-items-end pl-std css-mi55ob']")
job_posted[:5]

[<selenium.webdriver.remote.webelement.WebElement (session="cc675a5305fafbda02b8131f659650d0", element="56258bfb-cff9-4f1a-9c1d-fc8cdfa9fc87")>,
 <selenium.webdriver.remote.webelement.WebElement (session="cc675a5305fafbda02b8131f659650d0", element="3a55a63a-9475-4d49-bff0-10f9841210be")>,
 <selenium.webdriver.remote.webelement.WebElement (session="cc675a5305fafbda02b8131f659650d0", element="5f101176-0650-40b9-aea3-259e731f3667")>,
 <selenium.webdriver.remote.webelement.WebElement (session="cc675a5305fafbda02b8131f659650d0", element="b91a584e-490d-4ab6-b40d-2bac9f1355dd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="cc675a5305fafbda02b8131f659650d0", element="b93616d7-541c-4bc9-b068-372adfdd379c")>]

In [81]:
# Using for loop and appending the text into empty set Number of days ago job posted.
for i in job_posted:
    job = i.text
    No_of_days_ago_job_posted.append(job)
No_of_days_ago_job_posted[:5]

['24h', '9d', '30d+', '30d+', '30d+']

In [85]:
# Finding the elements of ratings through driver by xpath.
ratings = driver.find_elements_by_xpath("//span[@class='compactStars ']")
ratings[:5]

[<selenium.webdriver.remote.webelement.WebElement (session="cc675a5305fafbda02b8131f659650d0", element="949bf6f6-bd67-4602-b046-f86ffb1d57d3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="cc675a5305fafbda02b8131f659650d0", element="c2390fa7-1077-481f-9980-77cafd9e020c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="cc675a5305fafbda02b8131f659650d0", element="a7ff3bf9-ccc5-4ef4-be2c-12b5cf3fee74")>,
 <selenium.webdriver.remote.webelement.WebElement (session="cc675a5305fafbda02b8131f659650d0", element="a8eb655c-0fe0-4094-9386-5c5623e2d3e5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="cc675a5305fafbda02b8131f659650d0", element="2195094e-9cb5-4d1b-94a9-2ad74149fcfc")>]

In [86]:
# Using for loop and appending the text into empty set Rating.
for i in ratings:
    rating=i.text
    Rating.append(rating)
Rating[:5]

['3.5', '3.3', '3.7', '5', '3.6']

In [89]:
# Creating DataFrame of Glassdoor Jobs.
Glassdoor_Jobs = pd.DataFrame({})
Glassdoor_Jobs['Company_Name'] = Company_name[:10]
Glassdoor_Jobs['Days_ago_job_posted'] = No_of_days_ago_job_posted[:10]
Glassdoor_Jobs['Company_Rating'] = Rating[:10]

In [90]:
# Final DataFrame.
Glassdoor_Jobs

                   Company_Name Days_ago_job_posted Company_Rating
0            UnitedHealth Group                 24h            3.5
1                     QuantumIT                  9d            3.3
2                Biz2Credit Inc                30d+            3.7
3  Salasar New Age Technologies                30d+              5
4  Salasar New Age Technologies                30d+            3.6
5          Emerging India Group                 20d            3.8
6                      Techlive                30d+              3
7               Dürr Somac GmbH                30d+            3.9
8                       Dürr AG                30d+            3.9
9                      DonePull                 24h              3

Q5: Write a python program to scrape the salary data for Data Scientist designation
in Noida location.

In [116]:
driver = webdriver.Chrome(r"C:\Users\HOMA\Downloads\chromedriver_win32\chromedriver.exe")

In [117]:
# URL of the Glassdoor website.
url = 'https://www.glassdoor.co.in/Salaries/new-delhi-data-scientist-salary-SRCH_IL.0,9_IM1083_KO10,24.htm?clickSource=searchBtn'

In [118]:
# Getting URL from webdriver.chrome.
driver.get(url)

In [119]:
# Creating empty sets.
Company_name = []
Number_of_salaries = []
Min_salary = []
Max_salary = []

In [120]:
# Finding elements of the company_name through driver by xpath.
company_name = driver.find_elements_by_xpath("//div[@data-test='job-info']/p[2]")
company_name[:5]

[<selenium.webdriver.remote.webelement.WebElement (session="b185d1b8be6c97cdac98d0adcba2995f", element="76ff6f59-627d-44d7-bad0-6ea543d5f6cd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b185d1b8be6c97cdac98d0adcba2995f", element="367a8564-3210-4803-b8c0-3792914a335f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b185d1b8be6c97cdac98d0adcba2995f", element="2075a68e-6038-46c9-8e99-0a8848f61172")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b185d1b8be6c97cdac98d0adcba2995f", element="54427e92-8ec7-4569-b3ca-016e54c05997")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b185d1b8be6c97cdac98d0adcba2995f", element="06d1bca9-1d3d-4d16-bf28-89e16fe04385")>]

In [121]:
# Using for loop and appending the text into empty set company_name.
for i in company_name:
    name=i.text
    Company_name.append(name)
Company_name[:10]

['Delhivery',
 'Ericsson-Worldwide',
 'Accenture',
 'Tata Consultancy Services',
 'IBM',
 'UnitedHealth Group',
 'Valiance Solutions',
 'Innovaccer',
 'Cognizant Technology Solutions',
 'ZS Associates']

In [122]:
# Finding elements for number of salaries through driver by xpath.
no_of_salaries = driver.find_elements_by_xpath("//p[@class='css-1uyte9r css-1kuy7z7 m-0 ']")
no_of_salaries[:5]

[<selenium.webdriver.remote.webelement.WebElement (session="b185d1b8be6c97cdac98d0adcba2995f", element="084e383a-bcdf-45a9-9a1f-abd2cd60dbc1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b185d1b8be6c97cdac98d0adcba2995f", element="4aedf0ed-8950-44a8-ba3d-e28c8d0eb899")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b185d1b8be6c97cdac98d0adcba2995f", element="cd6379a4-4546-4b1a-832f-f7679617b274")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b185d1b8be6c97cdac98d0adcba2995f", element="efdecba4-9459-4429-99f5-febc5298e23a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b185d1b8be6c97cdac98d0adcba2995f", element="1b8bbfe9-73b4-43ae-901d-7d3adbf92e1d")>]

In [123]:
# Using for loop and appending the text into empty set Number of salaries.
for i in no_of_salaries:
    number=i.text
    Number_of_salaries.append(number)
Number_of_salaries[:10]

['13 salaries',
 '11 salaries',
 '10 salaries',
 '9 salaries',
 '9 salaries',
 '8 salaries',
 '8 salaries',
 '7 salaries',
 '6 salaries',
 '5 salaries']

In [124]:
# Finding elements of minimum salary through driver and xpath.
min_salary = driver.find_elements_by_xpath("//div[@class='common__RangeBarStyle__values common__flex__justifySpaceBetween common__flex__container ']/span[1]")
min_salary[:5]

[<selenium.webdriver.remote.webelement.WebElement (session="b185d1b8be6c97cdac98d0adcba2995f", element="bd6305ca-27bf-4901-8efb-1cfeb4c7f65f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b185d1b8be6c97cdac98d0adcba2995f", element="669f3bbf-d107-4f61-bfd7-b523592c2c6e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b185d1b8be6c97cdac98d0adcba2995f", element="a114bd68-526d-44bd-93b6-76e8f1d45f56")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b185d1b8be6c97cdac98d0adcba2995f", element="afadfbf8-254f-4a79-ba84-d92e9ec04173")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b185d1b8be6c97cdac98d0adcba2995f", element="127f2b41-31ca-46c5-a62d-133c98917e4b")>]

In [125]:
# # Using for loop and appending the text into empty set Min_salary.
for i in min_salary:
    min=i.text
    Min_salary.append(min)
Min_salary[:10]

['₹456K',
 '₹420K',
 '₹585K',
 '₹336K',
 '₹595K',
 '₹727K',
 '₹509K',
 '₹629K',
 '₹804K',
 '₹205K']

In [126]:
# Finding elements for maximum salary through driver and xpath.
max_salary = driver.find_elements_by_xpath("//div[@class='common__RangeBarStyle__values common__flex__justifySpaceBetween common__flex__container ']/span[2]")
max_salary[:5]

[<selenium.webdriver.remote.webelement.WebElement (session="b185d1b8be6c97cdac98d0adcba2995f", element="054d7354-7e11-47b7-84cf-5c8165544d86")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b185d1b8be6c97cdac98d0adcba2995f", element="d7a66240-221a-4dae-85e6-78b177eb341e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b185d1b8be6c97cdac98d0adcba2995f", element="70a820ec-3229-4570-b76d-670988a7d00c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b185d1b8be6c97cdac98d0adcba2995f", element="94813fb8-92ca-46a1-bb41-8d6d1f275c6c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b185d1b8be6c97cdac98d0adcba2995f", element="86aedbe1-2e4f-45f3-a8e9-17e658c24ede")>]

In [127]:
# Using for loop and appending the text into empty set Max_salary.
for i in max_salary:
    max=i.text
    Max_salary.append(max)
Max_salary[:10]

['₹11,789K',
 '₹1,636K',
 '₹2,200K',
 '₹1,024K',
 '₹2,769K',
 '₹1,597K',
 '₹1,168K',
 '₹1,719K',
 '₹1,281K',
 '₹1,835K']

In [129]:
# Creating DataFrame of Data_scientist_salaries.
Data_scientist_salaries = pd.DataFrame({})
Data_scientist_salaries['Company_Name']= Company_name[:10]
Data_scientist_salaries['Number_of_Salaries'] = Number_of_salaries[:10]
Data_scientist_salaries['Minimum_Salary'] = Min_salary[:10]
Data_scientist_salaries['Maximum_Salary'] = Max_salary[:10]

In [130]:
# Final DataFrame.
Data_scientist_salaries

,Company_Name,Number_of_Salaries,Minimum_Salary,Maximum_Salary
0,Delhivery,13 salaries,₹456K,"₹11,789K"
1,Ericsson-Worldwide,11 salaries,₹420K,"₹1,636K"
2,Accenture,10 salaries,₹585K,"₹2,200K"
3,Tata Consultancy Services,9 salaries,₹336K,"₹1,024K"
4,IBM,9 salaries,₹595K,"₹2,769K"
5,UnitedHealth Group,8 salaries,₹727K,"₹1,597K"
6,Valiance Solutions,8 salaries,₹509K,"₹1,168K"
7,Innovaccer,7 salaries,₹629K,"₹1,719K"
8,Cognizant Technology Solutions,6 salaries,₹804K,"₹1,281K"
9,ZS Associates,5 salaries,₹205K,"₹1,835K"

Q6 : Scrape data of first 100 sunglasses listings on flipkart.com. You have to
scrape four attributes:
1. Brand
2. Product Description
3. Price
4. Discount %

In [156]:
driver = webdriver.Chrome(r"C:\Users\HOMA\Downloads\chromedriver_win32\chromedriver.exe")

In [157]:
# URL of the Flipkart Website.
url =  'https://www.flipkart.com/search?q=sunglasses&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off'

In [158]:
# Getting into the URL by driver. 
driver.get(url)

We can open with search button code but it was asking login.so,We used direct method to get into page url.

In [174]:
# Creating empty sets to append.
Brand = []
Product_description = []
Price = []
Discount = []

In [161]:
# Finding elements of three pages by xpath and appending text.
for i in range(0,3):
    brand = driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
    for i in brand:
        Brand.append(i.text)
        
    description = driver.find_elements_by_xpath("//a[@class='IRpwTa']")
    for i in description:
        Product_description.append(i.text)
        
    price = driver.find_elements_by_xpath("//div[@class='_30jeq3']")
    for i in price:
        Price.append(i.text)
        
    discount = driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']/span[1]")
    for i in discount:
        Discount.append(i.text)
    driver.find_element_by_xpath("//a[@class='_1LKTO3']")

In [162]:
# First 10 values of Brand variable.
Brand[:10]

['Royal Son',
 'ROYAL SON',
 'FDA COLLECTION',
 'shah collections',
 'Phenomenal',
 'like future',
 'Fastrack',
 'povty',
 'shah collections',
 'Deixels']

In [163]:
# First 10 values of Price variable.
Price[:10]

['₹351',
 '₹527',
 '₹199',
 '₹219',
 '₹399',
 '₹181',
 '₹559',
 '₹244',
 '₹331',
 '₹179']

In [164]:
# First 10 values of Product_descripition variable.
Product_description[:10]

['Mirrored Aviator Sunglasses (55)',
 'UV Protection Retro Square Sunglasses (88)',
 'UV Protection, Polarized, Mirrored Rectangular Sunglass...',
 'UV Protection, Mirrored Retro Square Sunglasses (53)',
 'Mirrored Aviator Sunglasses (Free Size)',
 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Round Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (58)']

In [165]:
# First 10 values of Discount variable.
Discount[:10]

['76% off',
 '73% off',
 '84% off',
 '78% off',
 '80% off',
 '83% off',
 '30% off',
 '75% off',
 '80% off',
 '90% off']

In [166]:
# Checking Brand variable.
Brand

['Royal Son',
 'ROYAL SON',
 'FDA COLLECTION',
 'shah collections',
 'Phenomenal',
 'like future',
 'Fastrack',
 'povty',
 'shah collections',
 'Deixels',
 'funglasses',
 'PIRASO',
 'FDA COLLECTION',
 'NuVew',
 'ETRG',
 'ROZZETTA CRAFT',
 'Fastrack',
 'Phenomenal',
 'Fastrack',
 'Aislin',
 'Online Mantra',
 'kingsunglasses',
 'ROZZETTA CRAFT',
 'Aislin',
 'Creative Group',
 'INSH',
 'Fastrack',
 'Trendy Glasses',
 'Rozzetta Craft',
 'Royal Son',
 'Royal Son',
 'ROZZETTA CRAFT',
 'Dannilo',
 'Aislin',
 'LOPO',
 'shadz',
 'funglasses',
 'Trendy Glasses',
 'Fastrack',
 'Royal Son',
 'Royal Son',
 'ROYAL SON',
 'FDA COLLECTION',
 'shah collections',
 'Phenomenal',
 'like future',
 'EYELLUSION',
 'peter india',
 'Singco India',
 'ROYAL SON',
 'Winsome',
 'Fastrack',
 'Riffko',
 'JOHAENA',
 'Farenheit',
 'Billion',
 'Fastrack',
 'Elligator',
 'Singco India',
 'Aislin',
 'I Flash',
 'Singco India',
 'like future',
 'FDA COLLECTION',
 'funglasses',
 'NuVew',
 'NuVew',
 'Fastrack',
 'Royal Son',
 'Aislin',
 'Silver Kartz',
 'Aislin',
 'PIRASO',
 'dannilo',
 'EYELLUSION',
 'Royal Son',
 'LEZTO',
 'Bedst',
 'Rich Club',
 'Aislin',
 'Ayezent',
 'Riffko',
 'Singco India',
 'kingsunglasses',
 'shah collections',
 'Royal Son',
 'EYELLUSION',
 'peter india',
 'Singco India',
 'ROYAL SON',
 'Winsome',
 'Fastrack',
 'Riffko',
 'JOHAENA',
 'Farenheit',
 'Billion',
 'Fastrack',
 'Elligator',
 'Singco India',
 'Aislin',
 'I Flash',
 'Singco India',
 'like future',
 'FDA COLLECTION',
 'funglasses',
 'NuVew',
 'NuVew',
 'Fastrack',
 'Royal Son',
 'Aislin',
 'Silver Kartz',
 'Aislin',
 'PIRASO',
 'dannilo',
 'EYELLUSION',
 'Royal Son',
 'LEZTO',
 'Bedst',
 'Rich Club',
 'Aislin',
 'Ayezent',
 'Riffko',
 'Singco India',
 'kingsunglasses',
 'shah collections',
 'Royal Son',
 'EYELLUSION',
 'peter india',
 'Singco India',
 'ROYAL SON',
 'Winsome',
 'Fastrack',
 'Riffko',
 'JOHAENA',
 'Farenheit',
 'Billion',
 'Fastrack',
 'Elligator',
 'Singco India',
 'Aislin',
 'I Flash',
 'Singco India',
 'like future',
 'FDA COLLECTION',
 'funglasses',
 'NuVew',
 'NuVew',
 'Fastrack',
 'Royal Son',
 'Aislin',
 'Silver Kartz',
 'Aislin',
 'PIRASO',
 'dannilo',
 'EYELLUSION',
 'Royal Son',
 'LEZTO',
 'Bedst',
 'Rich Club',
 'Aislin',
 'Ayezent',
 'Riffko',
 'Singco India',
 'kingsunglasses',
 'shah collections',
 'Royal Son']

In [170]:
# Creating DataFrame.
Sun_Glasses = pd.DataFrame({})
Sun_Glasses['Brand'] = Brand[:100]
Sun_Glasses['Product_Description'] = Product_description[:100]
Sun_Glasses['Price'] = Price[:100]
Sun_Glasses['Discount'] = Discount[:100]

In [171]:
# Lengths of the all created variables.
print(len(Product_description),len(Price),len(Brand),len(Discount))

118 160 166 160

In [172]:
# Final DataFrame.
Sun_Glasses

,Brand,Product_Description,Price,Discount
0,Royal Son,Mirrored Aviator Sunglasses (55),₹351,76% off
1,ROYAL SON,UV Protection Retro Square Sunglasses (88),₹527,73% off
2,FDA COLLECTION,"UV Protection, Polarized, Mirrored Rectangular...",₹199,84% off
3,shah collections,"UV Protection, Mirrored Retro Square Sunglasse...",₹219,78% off
4,Phenomenal,Mirrored Aviator Sunglasses (Free Size),₹399,80% off
...,...,...,...,...
95,Billion,"Riding Glasses, UV Protection Oval Sunglasses ...",₹284,76% off
96,Fastrack,Mirrored Round Sunglasses (Free Size),₹218,83% off
97,Elligator,"Polarized Sports, Wayfarer Sunglasses (56)",₹161,83% off
98,Singco India,UV Protection Shield Sunglasses (Free Size),₹125,83% off
99,Aislin,"UV Protection, Polarized Aviator Sunglasses (F...",₹375,70% off

Q7: Scrape 100 reviews data from flipkart.com for iphone11 phone.

In [175]:
driver = webdriver.Chrome(r"C:\Users\HOMA\Downloads\chromedriver_win32\chromedriver.exe")

In [176]:
# URL of the Flipkart website.
url = 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includesearpods-poweradapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace.'

In [177]:
# Getting URL website through web driver.
driver.get(url)

In [178]:
# Creating empty sets for Defined variables.
Rating = []
Review_summary = []
Full_review = []

In [180]:
# Change the button through driver by xpath.
Change_button = driver.find_element_by_xpath("//div[@class='_3UAT2v _16PBlm']")

In [181]:
# Clicking the change_button.
Change_button.click()

In [182]:
# Finding elements of rating,review_summary and full_review through driver by xpath.
# Using for loop and appending the text function to all defined variables.
for i in range(0,10):
    rating = driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
    for i in rating:
        Rating.append(i.text)
        
    review_summary = driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
    for i in review_summary:
        Review_summary.append(i.text)
        
    full_review = driver.find_elements_by_xpath("//div[@class='t-ZTKy']")
    for i in full_review:
        Full_review.append(i.text)
    driver.find_element_by_xpath("//a[@class='_1LKTO3']/span[1]")

In [183]:
# Checking rating of first 10 values.
Rating[:10]

['5', '5', '5', '5', '5', '5', '5', '5', '4', '5']

In [184]:
# Checking review_summary of first 10 values.
Review_summary[:10]

['Perfect product!',
 'Great product',
 'Highly recommended',
 'Perfect product!',
 'Perfect product!',
 'Worth every penny',
 'Worth every penny',
 'Wonderful',
 'Nice product',
 'Perfect product!']

In [185]:
# Checking full_review of first 10 values.
Full_review[:10]

['Amazing phone with great cameras and better battery which gives you the best performance. I just love the camera .',
 'Amazing Powerful and Durable Gadget.\n\nI’m am very happy with the camera picture quality, Amazing face id unlocked in dark room, Strong battery with perfect screen size as you can carry easily in pocket. This is my third iPhone.\n\nI shifted from android Samsung Note series to iPhone because of the strong build quality and peace of mind for next 3-4 years.\n\nDon’t think to much just go for it and I suggest you to go for minimum 128gb variant or more 256gb.\n\nI’ve attached my puppy pics and no fi...\nREAD MORE',
 'iphone 11 is a very good phone to buy only if you can compromise for the display. The display on this is device is pretty good but you can get other options with better displays in this price segment.\nIf you can survive with an HD+ LCD panel with thicker bezels and a notch up top then this is a very good phone for you.\nCameras are awesome, battery backup excellent, great performance and a decent premium look. Good job Apple !',
 'It’s a must buy who is looking for an upgrade from previous generation of iPhones. If you are using XR then still you can hold on for sometime and upgrade to 2020 model else this phone is a must buy . Camera quality is amazing and wide angle is something to count upon. Performance wise it’s amazing and feels premium while holding in hand. So a big YES for this device. Go for 128 GB variant as the 4K videos will occupy lots of space and the storage can get over very quickly. Try to buy it with...\nREAD MORE',
 'Value for money❤️❤️\nIts awesome mobile phone in the world ...\nDisplay was very good and bright ..\nTrust me freinds you r never regret after Buying..\nJust go for it....\nI love this phone and i switch to iphone x to 11',
 'Best budget Iphone till date ❤️ go for it guys without second thought. Let me explain you guys about Camera, Display, battery, and performance.\n\nCamera: at this price range there is no comparison of camera, you’ll love the picture quality as well as video quality. I am a Vlogger I wanted an iPhone with 4k video by front camera and I got this phone and I am more than happy 😃\n\nBattery: I use this phone roughly as I am active social media person and I have a youtube channel. so the battery ba...\nREAD MORE',
 'It’s been almost a month since I have been using this phone. I upgraded from an iPhone 8. The main issue with my 8 was battery and this phone is just awesome when it comes to battery. It lasts a day and a half for me with my regular use , internet connected always with 4g\nCan’t move forward without saying this. Battery of this phone is a life saver when I am traveling or at work when I don’t get the option to charge\nCamera is superb. Front cam selfies and back cam photos are just awesome.\n...\nREAD MORE',
 '*Review after 10 months of usage*\nDoesn\'t seem bulky with decent touch and camera. The "standard maintained" quality of IPhone. Go for it, if your budget is not more enough for pro models. It\'s a value for money among the 11 series Stereo speakers are so good, you will love the stereo sound. Battery backup is not decent but still better than Iphone 7 and 8.Processor is fast, the phone doesn\'t lag at all even with heavy games, waterproof, faster face id and with no fingerprint scanners. The ca...\nREAD MORE',
 'Awesome Phone. Slightly high price but worth. Better than iPhone XR.\nCamera is superb and wide angle camera is very clear.\n12MP selfie camera is also very good.\nA13 Chip gives a very good and smooth performance.',
 "Iphone is just awesome.. battery backup is very very nice.. continuously for 10 hours we can use it.camera is just awesome.. display is just fab.i love it alot..i had to wait 15 days for it as i pre ordered it..overalll it's worth the price..these all images are clicked by my iPhone..and i love it."]

In [187]:
# Checking rating of first 5 values.
Rating[:5]

['5', '5', '5', '5', '5']

In [188]:
# Creating DataFrame of Apple_Ratings.
Apple_Ratings = pd.DataFrame({})
Apple_Ratings['Ratings'] = Rating
Apple_Ratings['Review_Summary'] = Review_summary
Apple_Ratings['Full_Review'] = Full_review

In [189]:
# Final DataFrame.
Apple_Ratings

,Ratings,Review_Summary,Full_Review
0,5,Perfect product!,Amazing phone with great cameras and better ba...
1,5,Great product,Amazing Powerful and Durable Gadget.\n\nI’m am...
2,5,Highly recommended,iphone 11 is a very good phone to buy only if ...
3,5,Perfect product!,It’s a must buy who is looking for an upgrade ...
4,5,Perfect product!,Value for money❤️❤️\nIts awesome mobile phone ...
...,...,...,...
95,5,Worth every penny,Best budget Iphone till date ❤️ go for it guys...
96,5,Worth every penny,It’s been almost a month since I have been usi...
97,5,Wonderful,*Review after 10 months of usage*\nDoesn't see...
98,4,Nice product,Awesome Phone. Slightly high price but worth. ...
99,5,Perfect product!,Iphone is just awesome.. battery backup is ver...

Q8: Scrape data for first 100 sneakers you find when you visit flipkart.com and
search for “sneakers” in the search field.

In [190]:
driver = webdriver.Chrome(r"C:\Users\HOMA\Downloads\chromedriver_win32\chromedriver.exe")

In [191]:
# URL of the Flipkart website.
url = 'https://www.flipkart.com/'

In [192]:
# Getting URL of the website with chromedriver.
driver.get(url)

In [193]:
# Using search code we find element by xpath and searching the word of sneakers.And clicking using click() function.
search_bar = driver.find_element_by_xpath("//input[@class='_3704LK']")
search_bar.click()
search_bar.send_keys('sneakers')

In [200]:
# Similarly clicking the search button through code.
search_button=driver.find_element_by_xpath("//button[@class='L0Z3Pu']")
search_button.click()

In [201]:
# Creating Empty sets .
Brand = []
Product_Description = []
Price = []
Discount = []

In [202]:
# Finding elements brand,product_description,price and discount by xpath.
for i in range(0,3):
    brand = driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
    for i in brand:
        Brand.append(i.text)
        
    product_description = driver.find_elements_by_xpath("//a[@class='IRpwTa']")
    for i in product_description:
        Product_Description.append(i.text)
        
    price = driver.find_elements_by_xpath("//div[@class='_30jeq3']")
    for i in price:
        Price.append(i.text)
        
    discount = driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']/span[1]")
    for i in discount:
        Discount.append(i.text)
    driver.find_element_by_xpath("//a[@class='_1LKTO3']")

In [203]:
# Checking 10 values of Brand.
Brand[:10]

['Puma',
 'Echor',
 'Chevit',
 'World Wear Footwear',
 'Robbie jones',
 'Chevit',
 'Oricum',
 'Stefano Rads',
 'Chevit',
 'Restinfoot']

In [204]:
# Checking 10 values of product_description.
Product_Description[:10]

['Smash Vulc Sneakers For Men',
 'Combo Pack of 4 Casual Sneakers With Sneakers For Men',
 'Combo Pack of 4 Latest Collection Stylish Casual Loafer...',
 'Casual Sneakers Shoes For Men Sneakers For Men',
 '171 Smart Tan Lace-Ups Casuals for Men Sneakers For Men',
 'Combo pack of 2 casual sneaker shoes for men Sneakers F...',
 'Lightweight Combo Pack of 02 Trendy Sneakers Casuals Fo...',
 "Casual shoes,Sneakers for men's,shoes for men's Sneaker...",
 "White Sneaker For Men's/Boy's Sneakers For Men",
 '170 Smart Grey Lace-Ups Casuals for Men Sneakers For Me...']

In [205]:
# Checking 10 values of Price.
Price[:10]

['₹1,456',
 '₹601',
 '₹499',
 '₹499',
 '₹378',
 '₹224',
 '₹398',
 '₹260',
 '₹499',
 '₹350']

In [206]:
# Checking 10 values of discount.
Discount[:10]

['61% off',
 '39% off',
 '75% off',
 '75% off',
 '62% off',
 '55% off',
 '60% off',
 '62% off',
 '50% off',
 '64% off']

In [207]:
# Creating DataFrame of Sneakers_Info.
Sneakers_Info = pd.DataFrame({})
Sneakers_Info['Brand'] = Brand[:100]
Sneakers_Info['Product_Description'] = Product_Description[:100]
Sneakers_Info['Price'] = Price[:100]
Sneakers_Info['Discount'] = Discount[:100]

In [208]:
# Final DataFrame.
Sneakers_Info

,Brand,Product_Description,Price,Discount
0,Puma,Smash Vulc Sneakers For Men,"₹1,456",61% off
1,Echor,Combo Pack of 4 Casual Sneakers With Sneakers ...,₹601,39% off
2,Chevit,Combo Pack of 4 Latest Collection Stylish Casu...,₹499,75% off
3,World Wear Footwear,Casual Sneakers Shoes For Men Sneakers For Men,₹499,75% off
4,Robbie jones,171 Smart Tan Lace-Ups Casuals for Men Sneaker...,₹378,62% off
...,...,...,...,...
95,Sparx,RS 2.0 Winterized Sneakers For Men,₹769,23% off
96,Hotstyle,EASY VULC 2.0 Sneakers For Men,₹204,59% off
97,Red Rose,shoes For Mens Combo(AR)-1645-1621 ( Multicolo...,₹359,64% off
98,Chevit,shoe Sneakers For Men,₹299,70% off
99,Levi's,Sneakers For Men,"₹1,400",49% off

Question 9:Set Price filter to “Rs. 6649 to Rs. 13099” , Color filter to “Black”, as shown in the below image and then scrape First 100 shoes data you get.The data should include “Brand” of the shoes , Short Shoe description, price of the shoe.

In [2]:
# Importing selenium and pandas.
#
from selenium import webdriver
import pandas as pd
driver = webdriver.Chrome(r"C:\Users\HOMA\Downloads\chromedriver_win32\chromedriver.exe")

In [5]:
# URL of the myntra website.
url = 'https://www.myntra.com/shoes'

In [6]:
# Getting the URL from web driver.
driver.get(url)

In [9]:
# To put the Price filter
price_btn=driver.find_element_by_xpath('//ul[@class="price-list"]/li[2]/label/div')
price_btn.click()

In [8]:
# To put the colour filter
colour_button=driver.find_element_by_xpath('//li[@class="colour-listItem"]/label/div')
colour_button.click()

In [10]:
# Craeting empty set.
Brand = []
Description = []
Price = []

In [11]:
# Finding elements of brand,description,price through driver by xpath.
# Using for loop and appending text to empty sets.
for i in range(0,2):
    brand = driver.find_elements_by_xpath("//h3[@class='product-brand']")
    for i in brand:
        Brand.append(i.text)
        
    description = driver.find_elements_by_xpath("//h4[@class='product-product']")
    for i in description:
        Description.append(i.text)
        
    price = driver.find_elements_by_xpath("//div[@class='product-price']")
    for i in price:
        Price.append(i.text)
        
    driver.find_element_by_xpath("//a[@rel='next']")

In [12]:
# Checking 10 values of Brand.
Brand[:10]

['Nike',
 'Nike',
 'Nike',
 'Nike',
 'Puma',
 'Nike',
 'Nike',
 'Nike',
 'Nike',
 'Nike']

In [13]:
# Checking 10 values of description.
Description[:10]

["Men JORDAN ZOOM '92 Shoes",
 'Men Zoom Running Shoes',
 'Men JORDAN DELTA Basketball',
 'Men ZOOM FLY 3 Running Shoes',
 'Men HYBRID NETFIT Running Shoe',
 'Unisex KYRIE FLYTRAP IV Shoes',
 'Men JORDAN DELTA Sneakers',
 'Men AIR MAX 90 Sneakers',
 'PEGASUS FLYEASE Running Shoes',
 'Men JOYRIDE Running Shoes']

In [14]:
# Checking 10 values of Price.
Price[:10]

['Rs. 10799Rs. 13495(Rs. 2696 OFF)',
 'Rs. 6399Rs. 7995(Rs. 1596 OFF)',
 'Rs. 9999Rs. 12495(Rs. 2496 OFF)',
 'Rs. 11199Rs. 13995(Rs. 2796 OFF)',
 'Rs. 6599Rs. 10999(40% OFF)',
 'Rs. 6599Rs. 8195(Rs. 1596 OFF)',
 'Rs. 8199Rs. 10995(Rs. 2796 OFF)',
 'Rs. 7999Rs. 9995(Rs. 1996 OFF)',
 'Rs. 7999Rs. 9995(Rs. 1996 OFF)',
 'Rs. 11199Rs. 14995(Rs. 3796 OFF)']

In [15]:
#Creating into a Data Frame.
Sneakers_Info = pd.DataFrame({})
Sneakers_Info['Brand_name'] = Brand
Sneakers_Info['Description'] = Description
Sneakers_Info['Price'] = Price

In [16]:
# Final Scraped Data Frame.
Sneakers_Info

,Brand_name,Description,Price
0,Nike,Men JORDAN ZOOM '92 Shoes,Rs. 10799Rs. 13495(Rs. 2696 OFF)
1,Nike,Men Zoom Running Shoes,Rs. 6399Rs. 7995(Rs. 1596 OFF)
2,Nike,Men JORDAN DELTA Basketball,Rs. 9999Rs. 12495(Rs. 2496 OFF)
3,Nike,Men ZOOM FLY 3 Running Shoes,Rs. 11199Rs. 13995(Rs. 2796 OFF)
4,Puma,Men HYBRID NETFIT Running Shoe,Rs. 6599Rs. 10999(40% OFF)
...,...,...,...
95,ADIDAS Originals,Men Superstar Sneakers,Rs. 8799Rs. 10999(Rs. 2200 OFF)
96,ADIDAS Originals,Men Deerupt Running Shoes,Rs. 7199Rs. 8999(Rs. 1800 OFF)
97,Geox,Leather Mid-Top Chelsea Boots,Rs. 8999Rs. 11999(25% OFF)
98,UNDER ARMOUR,HOVR Sonic 3 Running Shoes,Rs. 10999
99,Nike,Women FREE RN 5.0 Shoes,Rs. 6399Rs. 7995(Rs. 1596 OFF)

# Question 10: Amazon Laptop Scraping.

In [173]:
driver = webdriver.Chrome(r"C:\Users\HOMA\Downloads\chromedriver_win32\chromedriver.exe")

In [174]:
# URL of Amazon website.
url = 'https://www.amazon.in/s?k=laptop&i=computers&rh=n%3A1375424031&dc&qid=1611511805&rnid=12598141031&ref=sr_nr_p_n_feature_thirteen_browse-bin_17'

In [175]:
# Getting URL  by webdriver.
driver.get(url)

In [176]:
# Finding element of i7-button to filter by xpath and click the i7_button.
i7_button = driver.find_element_by_xpath("//li[@aria-label='Intel Core i7']/span/a")
i7_button.click()

In [177]:
#To put the filter for Intel core i9
i9_button=driver.find_element_by_xpath("//li[@aria-label='Intel Core i9']/span/a")
i9_button.click()

In [178]:
# Creating empty sets
Title = []
Rating = []
Price = []

In [179]:
# Finding elements of title through driver by xpath.
title = driver.find_elements_by_xpath("//span[@class='a-size-medium a-color-base a-text-normal']")
title[:5]

[<selenium.webdriver.remote.webelement.WebElement (session="37c9f35f99803ce345d121eeb487c641", element="d7f80a81-99be-4e43-ae1a-1b764ffe84ff")>,
 <selenium.webdriver.remote.webelement.WebElement (session="37c9f35f99803ce345d121eeb487c641", element="0c91679f-9062-403c-a372-b5b8bb2ace56")>,
 <selenium.webdriver.remote.webelement.WebElement (session="37c9f35f99803ce345d121eeb487c641", element="6b0ccadd-353a-48f9-9e9c-5d518e889984")>,
 <selenium.webdriver.remote.webelement.WebElement (session="37c9f35f99803ce345d121eeb487c641", element="3445965c-81e4-474a-997a-fcfaf1ae59d7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="37c9f35f99803ce345d121eeb487c641", element="2e619283-f2c8-4583-8df6-9b3fce886f07")>]

In [180]:
# Using for loop and appending the text to Title.
for i in title:
    Title.append(i.text)
Title[:4]

['Lenovo IdeaPad Gaming 3i 10th Gen Intel Core i7 15.6-inch FHD IPS Gaming Laptop (8GB/1TB HDD + 256 GB SSD/Windows 10/NVIDIA GTX 1650 4GB GDDR6/with M100 RGB Gaming Mouse/Onyx Black/2.2Kg), 81Y400VAIN',
 'ASUS ZenBook Pro Duo Intel Core i9-10980HK 10th Gen 15.6" 4K UHD OLED Touchscreen Laptop (32GB RAM/1TB NVMe SSD/Windows 10/6GB NVIDIA GeForce RTX 2060 Graphics/Celestial Blue/2.5 Kg), UX581LV-H2035T',
 'HP Pavilion x360 Touchscreen 2-in-1 FHD 14-inch Laptop (10th Gen Core i7-10510U/8GB/512GB SSD/Windows 10 Home/MS Office/Mineral Silver/1.58 kg), 14-dh1180tu',
 'Dell G3 3500 Gaming 15.6-inch FHD Laptop (10th Gen Core i7-10750H/8GB/512GB SSD/Windows 10 Home Plus & MS Office/4GB NVIDIA 1650 Graphics), Eclipse Black']

In [181]:
# Finding elements of price through driver by xpath.
price = driver.find_elements_by_xpath("//span[@class='a-price-whole']")
price[:5]

[<selenium.webdriver.remote.webelement.WebElement (session="37c9f35f99803ce345d121eeb487c641", element="8407ec90-be9d-4e2c-844a-4ad480b2ec6b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="37c9f35f99803ce345d121eeb487c641", element="a13fd5cd-d375-49d1-835d-d1218f583b53")>,
 <selenium.webdriver.remote.webelement.WebElement (session="37c9f35f99803ce345d121eeb487c641", element="989e4d8a-9e86-49fb-8492-b6849d8e6a06")>,
 <selenium.webdriver.remote.webelement.WebElement (session="37c9f35f99803ce345d121eeb487c641", element="b756b4f3-cdf3-448a-8e4d-5f1123f79289")>,
 <selenium.webdriver.remote.webelement.WebElement (session="37c9f35f99803ce345d121eeb487c641", element="5e5652fe-99d6-430e-ab61-c774dcd467d8")>]

In [182]:
# Using for loop and appending the text to Price empty set.
for i in price:
    Price.append(i.text)
Price[:4]

['74,990', '2,68,329', '74,990', '86,590']

In [184]:
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException

#locating Ratings
urls=driver.find_elements_by_xpath("//a[@class='a-link-normal a-text-normal']")#collecting urls of all the laptop
UR=[]
for i in urls[:10]:
    UR.append(i.get_attribute('href'))#getting the url of first 10 laptops
for url in UR:#loop for every laptop in the list
    driver.get(url)
    try:                  #exception handling for nosuchelementexception
        rate=driver.find_element_by_xpath("//span[@id='acrCustomerReviewText']")#locating the ratingd link
        rate.click()                                                      #click the rating link found
        rating=driver.find_element_by_xpath("//span[@class='a-size-medium a-color-base']")#locating the rating
        Rating.append(rating.text)#appending the rating in Rating.
        
    except NoSuchElementException   as e:
        Rating.append("NO rating") # Used to get if there is no rating.

In [185]:
# Final Rating.
Rating

['4.4 out of 5',
 '5 out of 5',
 '3.6 out of 5',
 '3.9 out of 5',
 '3.9 out of 5',
 '3.1 out of 5',
 'NO rating',
 '4 out of 5',
 '4 out of 5',
 '4.2 out of 5',
 '4.2 out of 5',
 '4.5 out of 5',
 '4.5 out of 5',
 '4.5 out of 5',
 '4.5 out of 5',
 '4.1 out of 5']

In [186]:
# Creating DataFrame.
Laptop_Amazon = pd.DataFrame({})
Laptop_Amazon['Title'] = Title[:10]
Laptop_Amazon['Rating'] = Rating[:10]
Laptop_Amazon['Price'] = Price[:10]

In [187]:
# Final DataFrame.
Laptop_Amazon

                                               Title        Rating     Price
0  Lenovo IdeaPad Gaming 3i 10th Gen Intel Core i...  4.4 out of 5    74,990
1  ASUS ZenBook Pro Duo Intel Core i9-10980HK 10t...    5 out of 5  2,68,329
2  HP Pavilion x360 Touchscreen 2-in-1 FHD 14-inc...  3.6 out of 5    74,990
3  Dell G3 3500 Gaming 15.6-inch FHD Laptop (10th...  3.9 out of 5    86,590
4  Dell G3 3500 Gaming15.6-inch FHD Laptop (10th ...  3.9 out of 5    86,974
5  Lenovo Yoga S740 Intel Core i7 10th Gen 14 inc...  3.1 out of 5    97,700
6  ASUS ROG Zephyrus S17 (2020), 17.3" FHD 300Hz/...     NO rating  2,17,990
7  ASUS ROG Strix G17 17.3" FHD 120Hz Intel Core ...    4 out of 5  1,02,990
8  (Renewed) Dell Latitude E6420 14 Inch Laptop (...    4 out of 5    45,000
9  (Renewed) Dell Latitude E7470 14-inch Laptop (...  4.2 out of 5    55,299

# Thank You..!!